<div class="c-list-scripts @@class">
    @@include("../c-CardScript/index.html", { 
        title: "Script for working with Google-Translate-API. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "Proxy scraper. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "PHP Proxy Scraper", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "Script for collecting forum database. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "3proxy install script for Ubuntu PHP", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "3proxy install script for Ubuntu. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "Script for working with Google-Translate-API. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "Proxy scraper. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "PHP Proxy Scraper", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "Script for collecting forum database. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "3proxy install script for Ubuntu PHP", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "3proxy install script for Ubuntu. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "Script for working with Google-Translate-API. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "Proxy scraper. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "PHP Proxy Scraper", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "Script for working with Google-Translate-API. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "Proxy scraper. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "PHP Proxy Scraper", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "Script for collecting forum database. Python", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "3proxy install script for Ubuntu PHP", 
    })
    @@include("../c-CardScript/index.html", { 
        title: "3proxy install script for Ubuntu. Python", 
    })
</div>