<div class="c-list-scripts @@class">
    @@include("../CardScript/index.html", { 
        title: "Script for working with Google-Translate-API. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "Proxy scraper. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "PHP Proxy Scraper" 
    })
    @@include("../CardScript/index.html", { 
        title: "Script for collecting forum database. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "3proxy install script for Ubuntu PHP" 
    })
    @@include("../CardScript/index.html", { 
        title: "3proxy install script for Ubuntu. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "Script for working with Google-Translate-API. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "Proxy scraper. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "PHP Proxy Scraper" 
    })
    @@include("../CardScript/index.html", { 
        title: "Script for collecting forum database. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "3proxy install script for Ubuntu PHP" 
    })
    @@include("../CardScript/index.html", { 
        title: "3proxy install script for Ubuntu. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "Script for working with Google-Translate-API. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "Proxy scraper. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "PHP Proxy Scraper" 
    })
    @@include("../CardScript/index.html", { 
        title: "Script for working with Google-Translate-API. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "Proxy scraper. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "PHP Proxy Scraper" 
    })
    @@include("../CardScript/index.html", { 
        title: "Script for collecting forum database. Python" 
    })
    @@include("../CardScript/index.html", { 
        title: "3proxy install script for Ubuntu PHP" 
    })
    @@include("../CardScript/index.html", { 
        title: "3proxy install script for Ubuntu. Python" 
    })
</div>