<div class="c-info">
    <img class="c-info__img c-info__background" src="./images/page_detector_bg.jpg" alt="">
    <div class="c-info__inner">
        <ul class="c-info__list">
            <li class="c-info__title">
                <h3 class="title title--size-s title--color-light title--pos-center">Your information</h3>
            </li>
            <li class="c-info__item">
                <p class="text text--size-m text--color-light text--weight-l c-info__label">IP address:</p>
                <p class="text text--size-m text--color-light c-info__text">193.143.65.48</p>
            </li>
            <li class="c-info__item">
                <p class="text text--size-m text--color-light text--weight-l c-info__label">ISO code:</p>
                <p class="text text--size-m text--color-light c-info__text">RU</p>
            </li>
            <li class="c-info__item">
                <p class="text text--size-m text--color-light text--weight-l c-info__label">Country:</p>
                <p class="text text--size-m text--color-light c-info__text">Russia</p>
            </li>
            <li class="c-info__item">
                <p class="text text--size-m text--color-light text--weight-l c-info__label">City:</p>
                <p class="text text--size-m text--color-light c-info__text">Novosibirsk</p>
            </li>
            <li class="c-info__item">
                <p class="text text--size-m text--color-light text--weight-l c-info__label">Provider:</p>
                <p class="text text--size-m text--color-light c-info__text">Tbank Jsc</p>
            </li>
        </ul>
        <div class="c-info__frame">
            <img class="c-info__img" src="./images/page_detector_map.jpg" alt="">
        </div>
    </div>
</div>