<div class="slider slider-advantages @@class">
        <span class="slider__stub slider-advantages__stub"></span>
        <div class="slider__inner slider-advantages__inner">
            @@include('../../components/CardAdvanced/index.html', {
                class: "slider-advantages__slide",
                bgMb: "./images/section_advantage_mb-1.png",
                title: "Free proxy",
                text: "Use free data center proxies and evaluate the quality of work",
            })
            @@include('../../components/CardAdvanced/index.html', {
                class: "slider-advantages__slide",
                bgMb: "./images/section_advantage_mb-2.png",
                title: "Proxy checker",
                text: "Check availability, supported protocols, proxy country and response time",
            })
            @@include('../../components/CardAdvanced/index.html', {
                class: "slider-advantages__slide slider-advantages__slide",
                bgMb: "./images/section_advantage_mb-3.png",
                title: "Show my IP",
                text: "Find out your current IP address and other information",
            })
        </div>
        <span class="slider__stub slider-advantages__stub"></span>
</div>