<div class="menu-api @@class" data-lenis-prevent>
    <div class="menu-api__title">Introduction</div>
    <ul class="menu-api__list">
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Registration and Login</a>
                <svg class="icon icon--color-gray menu-api__icon menu-api__icon--active">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
            <ul class="menu-api__sublist">
                <li class="menu-api__item">
                    <a href="" class="menu-api__link menu-api__sublink">Local account</a>
                </li>
                <li class="menu-api__item">
                    <a href="" class="menu-api__link menu-api__sublink">Social account</a>
                </li>
                <li class="menu-api__item">
                    <a href="" class="menu-api__link menu-api__sublink">Change password</a>
                </li>
                <li class="menu-api__item">
                    <a href="" class="menu-api__link menu-api__sublink">Reset password</a>
                </li>
                <li class="menu-api__item">
                    <a href="" class="menu-api__link menu-api__sublink">Change email</a>
                </li>
                <li class="menu-api__item">
                    <a href="" class="menu-api__link menu-api__sublink">Delete social account</a>
                </li>
            </ul>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Two-factor auth</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">User profile</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Notification</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Proxy list</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Proxy replacement</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Proxy configuration</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">IP autorization</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Proxy statistics</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Subscription</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">User profile</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Notification</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Proxy list</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Proxy replacement</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Proxy configuration</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">IP autorization</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Proxy statistics</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
        <li class="menu-api__item">
            <div class="menu-api__row">
                <a href="" class="menu-api__link">Subscription</a>
                <svg class="icon icon--color-gray menu-api__icon">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </li>
    </ul>
</div>