<a class="card card--bg-blur card--radius-m @@prevClass card-service @@class" href="#">
    <div class="card__inner">
        @@if (typeof iconName !== 'undefined' && iconName) {
            <svg class="card-service__icon">
                <use xlink:href="./sprites/services.svg#icon-service-@@iconName"></use>
            </svg>
        }
        <h3 class="title title--size- card__title--color-dark @@classTitle card-service__title">@@title</h3>
        @@if (typeof text !== 'undefined' && text) {
            <p class="text text--size-m card-service__text">@@text</p>
        }
        @@if (typeof arrow !== 'undefined' && arrow == 'true') {
            <svg class="card__icon card__icon--color-blue card-service__arrow">
                <use xlink:href="./sprites/icons.svg#icon-arrow"></use>
            </svg>
        }
    </div>
</a>