<div class="card card--bg--blur @@prevClass card-service @@class">
    <img class="card-service__img" src="@@src" alt="">
    <h3 class="card-service__title">@@title</h3>
    <p class="text card-service__text">@@text</p>
    <img class="card-service__icon" src="./images/arrow.svg" alt="">
    <div class="card-service__inner">
        <div class="card-service__row">
            <div class="card-service__column">
                <button>@@button</button>
            </div>
        </div>
    </div>
</div>