<div class="pagination @@class">
    <button class="button button--rounded button--bg--blue button--color--white button--transparent pagination__button">Previuos</button>
    <div class="pagination__inner">
        <button class="button button--radius-small button--bg--white button--color-blue button--theme-square pagination__page">1</button> 
        <button class="button button--radius-small button--bg--white button--color-blue button--theme-square button--transparent pagination__page">2</button> 
        <button class="button button--radius-small button--bg--white button--color-blue button--theme-square button--transparent pagination__page">3</button> 
        <button class="button button--radius-small button--bg--white button--color-blue button--theme-square button--transparent pagination__page">...</button> 
        <button class="button button--radius-small button--bg--white button--color-blue button--theme-square button--transparent pagination__page">21</button> 
    </div>
    <button class="button button--rounded button--bg--blue button--color--white">Next</button>
</div>