<div class="pagination @@class">
    <button class="button button--fz-m button--size-l button--rounded button--bg-blue button--color-light button--inactive pagination__button pagination__button--prev">Previuos</button>
    <div class="pagination__inner">
        <button class="button button--bg-light button--color-blue pagination__button pagination__button--page">1</button> 
        <button class="button button--color-blue button--transparent button--hover-bg-bright-blue pagination__button pagination__button--page">2</button> 
        <button class="button button--color-blue button--transparent button--hover-bg-bright-blue pagination__button pagination__button--page">3</button> 
        <button class="button button--color-blue button--transparent button--hover-bg-bright-blue pagination__button pagination__button--page">...</button> 
        <button class="button button--color-blue button--transparent button--hover-bg-bright-blue pagination__button pagination__button--page">21</button> 
    </div>
    <button class="button button--fz-m button--size-l button--rounded button--bg-blue button--color-light button--hover-bg-blue pagination__button pagination__button--next">Next</button>
</div>