@use '../../../assets/scss/mixins/mediaQuery' as *;

.stealth{
    &__title{
        text-align: center;
        margin-bottom: 36px;

        @include respond(tablet) {
            margin-bottom: 76px;
        }
    }

    &__slider{
        display: flex;
        overflow-x: auto;
        column-gap: 10px;
        margin-right: -24px;

        &::-webkit-scrollbar {
            display: none;
        }

        @include respond(tablet) {
            row-gap: 12px;
            column-gap: 19px;
            flex-wrap: wrap;
            max-width: 699px;
            padding-left: 0;
            margin: 0 auto;

        }
        
        @include respond(pc) {
            row-gap: 22px;
            flex-wrap: nowrap;
            max-width: none;
            margin: 0 auto;
        }
    }


    &__slide{
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        @include respond(tablet){
            flex-direction: row;
            row-gap: 0;
            column-gap: 19px;
        }
        
        @include respond(pc){
            flex-direction: column;
            row-gap: 22px;
        }
    }
}