@use '../../../assets/scss/mixins/mediaQuery' as *;

.s-comfort{
    min-height: 685px;

    @include respond(tablet){
        min-height: none;
    }


    &__title{
        max-width: 697px;
        margin: 0 auto;
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }

    &__slider{
        margin: 0 -24px;

        @include respond(tablet){
            margin: 0;
        }
    }
}