@use '../../../assets/scss/mixins/mediaQuery' as *;

.s-comfort{
    min-height: 685px;

    @include respond(tablet){
        min-height: none;
    }


    &__title{
        max-width: 697px;
        margin: 0 auto;
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }

    &__inner{
        position: relative;
    }

    &__slider{
        margin: 0 -24px;

        @include respond(tablet){
            margin: 0;
        }
    }

    &__panel{
        position: absolute;
        top: 149px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        @include respond(tablet){
            top: 50%;
            left: auto;
            right: 30px;
            transform: translateY(-50%);
        }

        @include respond(pc){
            right: 71px;
        }
    }
}