@use '../../../assets/scss/mixins/mediaQuery' as *;

.s-prime{

    &__title{
        max-width: 1004px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }

    &__slider-pluses{
        margin: 0 -24px;
    }
}