@use '../../../assets/scss/mixins/mediaQuery' as *;

.c-card-flag{
    width: 218px;
    height: 147px;
    
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &__frame{
        width: 90px;
        height: 66px;
        border-radius: 12px;
        margin-bottom: 12px;
        flex-shrink: 0;
        overflow: hidden;
    }
    
    &__icon{
        width: inherit;
        height: inherit;
    }

    &__title{
        line-height: 30px;
        font-weight: 400;
        font-size: 21px;
    }
    
    // Маленькая тема
    &--size-s{

        @include respond(tablet, max){
            width: 155px;
            height: 104px;
        }

        & .c-card-flag__frame{
            @include respond(tablet, max){
                width: 64px;
                height: 47px;
                margin-bottom: 8px;
            }
        }

        & .c-card-flag__title{
            @include respond(tablet, max){
                font-size: 15px;
                line-height: 21px;
            }
        }

        & .c-card-flag__icon{
            @include respond(tablet, max){
                width: 64px;
                height: 47px;
            }
        }
    }
}