<div class="menu-page @@class">
    <div class="menu-page__title">On this page</div>
    <ul class="menu-page__list">
        <li class="menu-page__item menu-page__item--active">
            <a href="#" class="menu-page__link">Introduction</a>
        </li>
        <li class="menu-page__item">
            <a href="#" class="menu-page__link">Request parameters</a>
        </li>
        <li class="menu-page__item">
            <a href="#" class="menu-page__link menu-page__link--active">Payment method object</a>
            <ul class="menu-page__sublist">
                <li class="menu-page__item">
                    <a href="#" class="menu-page__link">Fields for StripeCard</a>
                </li>
                <li class="menu-page__item">
                    <a href="#" class="menu-page__link">In Json format</a>
                </li>
                <li class="menu-page__item">
                    <a href="#" class="menu-page__link">Fields for StripeCard</a>
                </li>
            </ul>
        </li>
        <li class="menu-page__item">
            <a href="#" class="menu-page__link">Federated access</a>
        </li>
        <li class="menu-page__item">
            <a href="#" class="menu-page__link">Search</a>
        </li>
    </ul>
</div>