@use '../../../assets/scss/mixins/mediaQuery' as *;

.c-card-extend{
    padding: 26px;

    @include respond(tablet){
        padding: 30px;
    }

    &__title{
        margin-bottom: 12px;

        @include respond(tablet){
            margin-bottom: 19px;
        }
    }

    &__text{
        margin-bottom: 12px;

        @include respond(tablet){
            margin-bottom: 19px;
        }
    }

    &__label{
        margin-right: 8px;
    }

    // Модификатор Free
    &--free{
        width: 240px;
        height: 342px;

        @include respond(tablet){
            width: 320px;
            height: 400px;
        }
    
        @include respond(pc){
            width: 400px;
            height: 500px;
        }
    }

    // Модификатор Price 
    &--price{
        width: 240px;
        height: 360px;

        @include respond(tablet){
            width: 340px;
            height: 463px;
        }

        @include respond(pc){
            width: 610px;
            height: 337px;
        }
        
        & .c-card-extend__text{
            @include respond(pc){
                max-width: 349px;
            }
        }
    }

    // Модификатор Mix
    &--mix{
        width: 240px;
        height: 420px;

        @include respond(tablet){
            width: 320px;
            height: 463px;
        }

        @include respond(pc){
            width: 400px;
            height: 400px;
        }
    }

    // Модификатор UDP
    &--udp{
        width: 300px;
        height: 463px;

        @include respond(tablet){
            width: 400px;
            height: 400px;
        }
    }

    &--special{
        width: 300px;
        height: 420px;

        @include respond(tablet){
            width: 620px;
            height: 377px;

            & .c-card-extend__title{
                max-width: 320px;
            }

            & .c-card-extend__text{
                max-width: 349px;
            }
        }

        @include respond(pc){
            width: 610px;
        }
    }
}