@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-api{
    
    &__header{
        margin-bottom: 40px;

        @include respond(tablet){
            margin-bottom: 20px;
        }
    }
    
    &__inner{
        @include respond(pc){
            display: flex;
            align-items: flex-start;
        }
    }

    &__menu-api{
        display: none;
        
        @include respond(pc){
            display: block;
            flex-shrink: 0;
            margin-right: 29px;
        }
    }

    &__content{
        padding-top: 18px;
    }

    &__ancor{
        margin-bottom: 12px;

        @include respond(tablet){
            margin-bottom: 8px;
        }

        &--size-s{
            @include respond(pc){
                font-size: 12px;
            }
        }
    }

    &__title{
        border-bottom: 1px solid #CED3DC;
        padding-bottom: 24px;
        margin-bottom: 18px;

        @include respond(tablet){
            padding-bottom: 13px;
            margin-bottom: 42px;
        }

        &--size-s{
            @include respond(pc){
                font-size: 32px;
                line-height: 35px;
                padding-bottom: 24px;
                margin-bottom: 0;
            }
        }
    }

    &__group{
        &:not(:last-child){
            margin-bottom: 42px;

            @include respond(tablet){
                margin-bottom: 28px;
            }
        }

        &--pc-visible{
            display: none;

            @include respond(pc){
                display: block;
            }
        }
    }

    &__subtitle{

        &--size-s{
            margin-bottom: 16px;

            @include respond(tablet){
                margin-bottom: 28px;
            }

            @include respond(pc){
                font-size: 18px;
            }
        }
        
        &--size-m{
            margin-bottom: 24px;

            @include respond(tablet){
                margin-bottom: 28px;
            }

            @include respond(pc){
                font-size: 24px;
            }
        }
    }

    &__text{

        &--size-s{
            @include respond(pc){
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    &__frame{
        @include respond(pc){
            max-width: 327px;
        }
    }

    &__table-api{
        @include respond(pc){
            width: 376px;
        }
    }

    &__tag{
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        background: rgba(0, 0, 0, 0.03);

        &--size-s{
            font-size: 12px;
            padding: 1px 14px;

            @include respond(tablet){
                font-size: 14px;
                padding: 1px 10px;
            }

            @include respond(pc){
                font-size: 12px;
                padding: 1px 9px;
            }
        }

        &--size-l{
            font-size: 16px;
            font-weight: 600;
            padding: 1px 12px;

            @include respond(tablet){
                font-size: 18px;
                padding: 1px 8px;
            }

            @include respond(pc){
                font-size: 16px;
                padding: 1px 12px;
            }
        }
    }

    &__code,
    &__url,
    &__tabs{
        @include respond(pc){
            width: 648px;
        }
    }

    &__url{
        margin: 28px 0;
    }

    &__menu-page{
        display: none;
        
        @include respond(pc){
            display: block;
            margin-left: 24px;
            flex-shrink: 0;
        }
    }
    
    &__navigation{
        margin: 42px 0 33px 0;

        @include respond(tablet){
            margin-bottom: 78px;
        }
    }
}