@use '../../../assets/scss/mixins/mediaQuery' as *;

.api{

    &__header{
        margin-bottom: 40px;
    }

    &__name{
        margin-bottom: 12px;

        @include respond(tablet){
            margin-bottom: 8px;
        }
    }

    &__title{
        font-size: 32px;
        line-height: 35px;
        border-bottom: 1px solid #CED3DC;
        padding-bottom: 24px;
        margin-bottom: 18px;

        @include respond(tablet){
            font-size: 52px;
            line-height: 64px;
            padding-bottom: 13px;
            margin-bottom: 42px;
        }
    }

    &__inner{
        @include respond(pc){
            display: flex;
            align-items: flex-start;
        }
    }

    &__menu-api{
        display: none;
        flex-shrink: 0;
        margin-right: 29px;

        @include respond(pc){
            display: block;
        }
    }

    &__content{
        padding-top: 18px;
    }

    &__frame{
        @include respond(pc){
            max-width: 327px;
        }
    }

    &__group{
        &:not(:last-child){
            margin-bottom: 42px;

            @include respond(tablet){
                margin-bottom: 28px;
            }
        }
    }

    &__subtitle{
        font-size: 24px;
        margin-bottom: 24px;

        @include respond(tablet){
            font-size: 32px;
            margin-bottom: 28px;
        }

        @include respond(pc){
            font-size: 24px;
            margin-bottom: 24px;
        }

        &--size-large{
            @include respond(pc){
                font-size: 32px;
            }
        }
    }

    &__text{
        @include respond(pc){
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__table-api{
        @include respond(tablet){
            width: 376px;
        }
    }

    &__group-title{
        font-size: 18px;
        margin-bottom: 16px;

        @include respond(tablet){
            font-size: 23px;
            margin-bottom: 28px;
        }

        @include respond(pc){
            font-size: 18px;
            margin-bottom: 18px;
        }
    }

    &__tag{
        font-size: 12px;
        padding: 2px 9px;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        background: rgba(0, 0, 0, 0.03);

        &--size-large{
            font-size: 16px;
            font-weight: 700;
        }
    }

    &__tabs,
    &__code,
    &__url{
        @include respond(pc){
            width: 648px;
        }
    }

    &__gap{
        margin-bottom: 24px;
    }

    &__menu-page{
        display: none;
        margin-left: 24px;
        flex-shrink: 0;

        @include respond(pc){
            display: block;
        }
    }
    
    &__navigation{
        margin: 42px 0 33px 0;

        @include respond(tablet){
            margin-bottom: 78px;
        }
    }
}