<div class="c-list-flags @@class">
    <div class="c-list-flags__inner">
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "ru",
            title: "Russia"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "us",
            title: "USA"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "ch",
            title: "China"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "au",
            title: "Australia"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "in",
            title: "India"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "de",
            title: "Germany"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "tr",
            title: "Turkey"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "pk",
            title: "Pakistan"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "nl",
            title: "Netherlands"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "uk",
            title: "UK"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "ua",
            title: "Ukraine"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "pl",
            title: "Poland"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "fr",
            title: "France"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "br",
            title: "Brazil"
        })
        @@include('../c-CardFlag/index.html', {
            class: "c-card-flag--size-s c-list-flags__card",
            iconName: "es",
            title: "Spain"
        })
    </div>
</div>