@use '../../../assets/scss/mixins/mediaQuery' as *;

.flag-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px 17px;
    margin: 0 auto;

    @include respond(tablet){
        max-width: 698px;
    }

    @include respond(tablet){
        max-width: 1158px;
    }

    &__card{
        &:last-child{
        }
    }
}