@use '../../../assets/scss/mixins/mediaQuery' as *;

.flag-list{
    display: flex;
    flex-wrap: wrap;
    gap: 14px 17px;
    margin: 0 auto;

    &__card{
        align-content: flex-start;
    }

    @include respond(tablet){
        max-width: 698px;
    }

    @include respond(tablet){
        max-width: 1158px;
    }
}