<div class="c-select-filters @@class js-select">
    <div class="c-select-filters__row">
        <div class="c-select-filters__selected js-select__selected">Filters</div>
        <svg class="c-select-filters__icon js-select__icon">
            <use xlink:href="./sprites/icons.svg#icon-chevron-down"></use>
        </svg>
    </div>
    <ul class="c-select-filters__options js-select__options">
        <li class="c-select-filters__value js-select__value">Export TXT</li>
        <li class="c-select-filters__value js-select__value">Export CSV</li>
    </ul>
</div>