@use './variables' as *;
@use './mixins/mediaQuery' as *;


// Container
.container{
    max-width: 1320px;
    padding: 0 24px;
    width: 100%;
    margin: 0 auto;

    @include respond(tablet){
        padding: 0 40px;
    }

    &--right-free{
        padding-right: 0;
        @include respond(tablet){
            padding-right: 40px;
        }
    }
}

.background,
.background img,
.background source{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Gallery
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;

    &__card{
        flex-shrink: 0;
    }
}

// Text
.text{
    font-size: $text-fz-small;
    line-height: $text-lh-small;

    @include respond(tablet) {
        font-size: $text-fz-large;
        line-height: $text-lh-large;
    }

    &--color--dark{
        color: $text-color-dark;
    }

    &--color--white{
        color: $text-color-white;
    }

    &--color--gray{
        color: $text-color-gray;
    }

    &--footer{
        
    }

    &--weight-bold{
        font-weight: 600;
    }
}
.title{
    font-size: $title-fz-small;
    line-height: $title-lh-extra-small;

    @include respond(tablet){
        font-size: $title-fz-medium;
        line-height: $title-lh-medium;
    }
    
    &--type--main{
        line-height: $title-lh-small;
        font-size: $title-fz-medium;

        @include respond(tablet) {
            font-size: $title-fz-large;
            line-height: $title-lh-large;
        }
    }

    &--type--subtitle{
        
    }

    &--color--white{
        color: #fff;
    }

    &--color--blue{
        color: #2E7AF5;
    }

    &--weight--medium{
        font-weight: 500;
    }
    
}

// .button{
//     font-size: $button-fz-small;
//     font-weight: 600;
//     display: block;
//     width: fit-content;
//     cursor: pointer;
//     @include respond(tablet) {
//         font-size: $button-fz-large;
//     }

//     &--color--dark{
//         color: $button-color-dark;
//     }

//     &--color--white{
//         color: $button-color-white;
//     }

//     &--bg--white{
//         background-color: $button-bg-white;
//     }

//     &--bg--blue{
//         background: $button-bg-blue;
//     }

//     &--rounded{
//         padding: 12px 32px;
//         border-radius: 40px;
//         @include respond(tablet){
//             padding: 17px 34px;
//         }
//     }

//     &--promo{
//         font-size: $button-fz-small;
//         padding: 9px 18px;
//         opacity: 80%;
//     }
// }
.link{}
.img{}
