// Text
$text-fz-small: 12px;
$text-fz-large: 16px;
$text-lh-small: 18px;
$text-lh-large: 23px;
$text-color-white: #fff;
$text-color-dark: #313844;

// Title
$title-fz-small: 24px;
$title-fz-medium: 32px;
$title-fz-large: 52px;
$title-lh-extra-small: 30px;
$title-lh-small: 35px;
$title-lh-medium: 40px;
$title-lh-large: 64px;
$title-color-white: #fff;
$title-color-dark: #17263F;
$title-color-blue: #2E7AF5;

// Button
$button-fz-small: 14px; 
$button-fz-large: 16px; 
$button-color-white: #fff;
$button-color-dark: #17263F;
$button-bg-blue: linear-gradient(90deg, rgba(46, 122, 245, 1) 0%, rgba(103, 161, 255, 1) 100%);
$button-bg-white: #fff;