@use '../../../assets/scss/mixins/mediaQuery' as *;

.c-list-flags{
    display: flex;
    flex-wrap: wrap;
    gap: 14px 17px;
    min-width: 327px;
    max-width: 327px;

    @include respond(547px){
        max-width: 499px;
    }

    @include respond(719px){
        max-width: 671px;
    }

    @include respond(tablet){
        column-gap: 22px;
        max-width: 698px;
    }

    @include respond(1018px){
        max-width: 938px;
    }

    @include respond(1258px){
        max-width: 1178px;
    }

    &__inner{
        display: flex;
        flex-wrap: wrap;
        gap: 14px 17px;

        @include respond(tablet){
            column-gap: 22px;
        }
    }
}