<div class="c-list-services @@class">
    <div class="c-list-services__inner">
            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "amazon",
                title: "Amazon",
                text: "Brief description of the purpose",
            })

            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "google",
                title: "Google",
                text: "Brief description of the purpose",
            })
    
            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "booking",
                title: "Booking",
                text: "Brief description of the purpose",
            })

            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "facebook",
                title: "Facebook",
                text: "Brief description of the purpose",
            })
        
            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "instagram",
                title: "Instagram",
                text: "Brief description of the purpose",
            })

            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "linkedin",
                title: "Linkedin",
                text: "Brief description of the purpose",
            })
       
            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "tiktok",
                title: "TikTok",
                text: "Brief description of the purpose",
            })
            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "twitter",
                title: "Twitter",
                text: "Brief description of the purpose",
            })
        
            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "youtube",
                title: "YouTube",
                text: "Brief description of the purpose",
            })

            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "booking",
                title: "Booking",
                text: "Brief description of the purpose",
            })
        
            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "facebook",
                title: "Facebook",
                text: "Brief description of the purpose",
            })

            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "instagram",
                title: "Instagram",
                text: "Brief description of the purpose",
            })
       
            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "linkedin",
                title: "Linkedin",
                text: "Brief description of the purpose",
            })

            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "tiktok",
                title: "TikTok",
                text: "Brief description of the purpose",
            })
        
            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "twitter",
                title: "Twitter",
                text: "Brief description of the purpose",
            })

            @@include("../../components/c-CardService/index.html", {
                class: "c-card-service--size-m",
                prevClass: "card--border-gradient",
                iconName: "youtube",
                title: "YouTube",
                text: "Brief description of the purpose",
            })
        </div>
    </div>
</div>