@use '../../../assets/scss/mixins/mediaQuery' as *;

.advantages{

    &__title{
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }

    &__slider{
        margin: 0 -24px;

        @include respond(tablet){
            margin: 0 -40px;
        }
        
        @include respond(px){
            margin: 0 auto;
        }
    }
}