<div class="proxy-list @@class">
    <div class="proxy-list__header">
        <h3 class="proxy-list__title">Proxy list</h3>
        <div class="proxy-list__count">
            <div class="proxy-list__checked">Checked 2 out of 2</div>
            <div class="proxy-list__available">Available 1 out of 2</div>
        </div>
        <div class="proxy-list__row">
            <div class="select proxy-list__select proxy-list__select--hidden">
                <div class="select__front">
                    <div class="select__name select__name--fz-small">Filters</div>
                    <svg class="icon select__icon">
                        <use xlink:href="./sprites/icons.svg#icon-chevron-down"></use>
                    </svg>
                </div>
                <ul class="select__options">
                    <li class="select__value">HTTP</li>
                    <li class="select__value select__value--selected">HTTPS</li>
                    <li class="select__value">SOCKS4</li>
                    <li class="select__value">SOCKS5</li>
                </ul>
            </div>
            <button class="proxy-list__button">
                <svg class="icon proxy-list__icon">
                    <use xlink:href="./sprites/icons.svg#icon-download"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="proxy-list__inner">
        <div class="proxy-list__notification proxy-list__notification--hidden">The list is empty</div>
        <table class="proxy-list__table">
            <thead class="proxy-list__thead">
                <tr class="proxy-list__tr">
                    <th class="proxy-list__th">Adress</th>
                    <th class="proxy-list__th">Port</th>
                    <th class="proxy-list__th">User</th>
                    <th class="proxy-list__th">Password</th>
                    <th class="proxy-list__th">Type</th>
                    <th class="proxy-list__th">Location</th>
                    <th class="proxy-list__th">Status</th>
                </tr>
            </thead>
            <tbody class="proxy-list__tbody">
                <tr class="proxy-list__tr">
                    <td class="proxy-list__td">46.4.96.137</td>
                    <td class="proxy-list__td">1080</td>
                    <td class="proxy-list__td"></td>
                    <td class="proxy-list__td"></td>
                    <td class="proxy-list__td">HTTPS</td>
                    <td class="proxy-list__td">Germany</td>
                    <td class="proxy-list__td proxy-list__td--color-green">Online</td>
                </tr>
                <tr class="proxy-list__tr">
                    <td class="proxy-list__td">52.4.96.237</td>
                    <td class="proxy-list__td">8080</td>
                    <td class="proxy-list__td"></td>
                    <td class="proxy-list__td"></td>
                    <td class="proxy-list__td">HTTPS</td>
                    <td class="proxy-list__td">Russia</td>
                    <td class="proxy-list__td proxy-list__td--color-red">Not working</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>