@use "../../../assets/scss/mixins/mediaQuery" as *;

.home{

    &__intro{
        position: relative;
        display: flex;
        height: 100vh;
        overflow: hidden;
    }

    &__background{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__present{
        position: relative;
        height: 100%;
        z-index: 1;
    }

    &__animate{
        position: absolute;
        transition: all .3s;

        &--top{
            display: none;

            @include respond(tablet) {
               display: block;
               transform: rotate(10.34deg);
               top: 86px; 
               left: -308px;
               min-width: 544px;
               height: 581px;
            }
        }

        &--bottom{
            bottom: -269px;
            right: -226px;
            transform: rotate(6.48deg);
            min-width: 579px;
            height: 657px;

            @include respond(tablet) {
                bottom: -216px;
            }

            @include respond(pc) {
                min-width: 580px;
                height: 658px;
                bottom: -154px;
                right: -186px;
            }
        }
    }

    &__subtitle{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 36px;
        
        @include respond(tablet) {
            margin: 0 auto 65px auto ;
        }

        &--short{
            max-width: 636px;
        }
        
        &--space-small{
            margin-bottom: 18px;

            @include respond(tablet) {
                margin-bottom: 30px;
            }
        }

        &--left{
            @include respond(pc){
                text-align: left;
                margin-right: 50px;
                margin-bottom: 0;
            }
        }
    }

    &__text{
        text-align: center;
        max-width: 608px;
        margin: 0 auto 18px auto;

        @include respond(tablet){
            margin-bottom: 30px;
        }
    }
    
    &__button{
        display: block;
        margin: 0 auto;

        &--space{
            margin-bottom: 36px;
        }

        &--tablet-off{
            @include respond(tablet){
                display: none;
            }
        }
    }
    
    &__slider{
        margin: 0 -24px;
        
        @include respond(tablet){
            margin: 0;
        }

        &--tablet-off{
            @include respond(tablet){
                display: none;
            }
        }

        &--services{
            margin-bottom: 48px;
        }
    }

    &__section-marquee{
        height: 100vh;
        overflow: hidden;
    }
    
    &__marquee{
        display: none;

        @include respond(tablet){
            display: block;
            margin: 0 -40px;
        }

        @include respond(pc){
            margin: 0;
        }
    }

    &__row{
        @include respond(pc){
            display: flex;
        }
    }
    
    &__features{
        display: none;

        @include respond(tablet){
            display: flex;
            margin: 0 auto;
        }

        @include respond(pc){
            margin: 0;
        }
    }
}