@use "../../../assets/scss/mixins/mediaQuery" as *;

.home{

    &__subtitle{
        text-align: center;
        margin: 0 auto 36px auto;
        
        @include respond(tablet) {
            margin: 0 auto 65px auto ;
        }
        
        &--left{
            @include respond(pc) {
                text-align: left;
                max-width: 400px;
                margin: 0;
            }
        }
        
        &--space-small{
            margin-bottom: 18px;

            @include respond(tablet) {
                margin-bottom: 30px;
            }
        }
    }
    
    &__benefits{
        min-height: 851px;

        @include respond(tablet) {
            min-height: 872px;
        }

        @include respond(pc) {
            min-height: 780px;
        }
    }

    &__row{
        @include respond(pc) {
            display: flex;
        }
    }

    &__cards-benefits{
        width: 100%;
        position: relative;
        @include respond(pc) {
            margin-left: auto;
        }
    }

    &__card-benefit{
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, 0);
        transition: all .3s;

        &:nth-child(2) {
            z-index: 2;
            transform: translate(-50%, 51px);
        }
        &:nth-child(3) {
            z-index: 3;
            transform: translate(-50%, 51px * 2);
        }
        &:nth-child(4) {
            z-index: 4;
            transform: translate(-50%, 51px * 3);
        }
        &:nth-child(5) {
            z-index: 5;
            transform: translate(-50%, 51px * 4);
        }

        @include respond(tablet) {
            &:nth-child(2) {
                z-index: 2;
                transform: translate(-50%, 46px);
            }
            &:nth-child(3) {
                z-index: 3;
                transform: translate(-50%, 46px * 2);
            }
            &:nth-child(4) {
                z-index: 4;
                transform: translate(-50%, 46px * 3);
            }
            &:nth-child(5) {
                z-index: 5;
                transform: translate(-50%, 46px * 4);
            }
        }

        @include respond(pc){
            left: auto;
            right: 0;
            transform: translate(0);
            &:nth-child(2) {
                z-index: 2;
                transform: translate(-30px, 44px);
            }
            &:nth-child(3) {
                z-index: 3;
                transform: translate(-30px * 2, 44px * 2);
            }
            &:nth-child(4) {
                z-index: 4;
                transform: translate(-30px * 3, 44px * 3);
            }
            &:nth-child(5) {
                z-index: 5;
                transform: translate(-30px * 4, 44px * 4);
            }
        }
    }

    &__text{
        text-align: center;
        max-width: 608px;
        margin: 0 auto 18px auto;

        @include respond(tablet){
            margin-bottom: 30px;
        }
    }
    
    &__button{
        display: block;
        margin: 0 auto 36px auto;
    }
    
    &__slider{
        margin-right: -24px;

        @include respond(tablet){
            display: none;
        }
    }
    
    &__marquee{
        display: none;

        @include respond(tablet){
            display: flex;
            justify-content: center;
            overflow-x: hidden;
            overflow-y: auto;
            margin: 0 -40px;
        }

        @include respond(pc){
            margin: 0;
        }
    }

    &__card-flag{
        flex-shrink: 0;

        &:not(:last-child){
            margin-right: 23px;
        }
        
        &--third {
            transform: scale(0.8);
            opacity: 75%;
            z-index: 2;
            
            &-left{
                transform: scale(0.8) translateX(30px);
            }

            &-right{
                transform: scale(0.8) translateX(-30px);
            }
        }
    
        &--second {
            transform: scale(0.6);
            opacity: 50%;
            z-index: 1;

            &-left{
                transform: scale(0.6) translateX(150px);
            }

            &-right{
                transform: scale(0.6) translateX(-150px);
            }
        }
    
        &--first {
            transform: scale(0.4);
            opacity: 35%;
            z-index: 0;

            &-left{
                transform: scale(0.4) translateX(500px);
            }

            &-right{
                transform: scale(0.4) translateX(-500px);
            }
        }
    }

    
}