@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-service{
    width: 242px;
    height: 170px;
    padding: 28px;
    @include respond(tablet){
        display: flex;
        flex-direction: column;
        width: 294px;
        height: 240px;
        padding: 26px 26px 47px 26px;
    }

    &__img{
        width: 46px;
        height: 46px;
        margin-bottom: 20px;
        @include respond(tablet){
            margin-bottom: auto;
        }
    }

    &__title{
        margin-bottom: 8px;
    }
}