@use '../../../assets/scss/mixins/mediaQuery' as *;
@use '../../../assets/scss/variables' as *;


.card-service{
    width: 242px;
    height: 170px;
    padding: 28px;
    justify-content: flex-end;

    &__icon{
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        margin-bottom: auto;
    }

    &__icon-arrow{
        width: 26px;
        height: 26px;
        margin-left: auto;
    }

    @include respond(tablet){
        display: flex;
        flex-direction: column;
        width: 294px;
        height: 240px;
        padding: 26px 26px 47px 26px;
    }

    &__title{
        margin-bottom: 8px;
    }

    &--theme--responsive{
        @include respond(tablet){
            width: 340px;
        }

        @include respond(pc){
            width: 295px;
        }
    }

    &--theme-simple{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 21px;

        .card-service{
            &__img,
            &__text{
                display: none;
            }

            &__title{
                color: $title-color-blue;
                margin-bottom: 10px;
            }
            
            &__icon{
                width: 42px;
                height: 42px;
                display: block;
                margin-left: auto;
            }
        }
    }
}