@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-plus{
    width: 240px;
    height: 165px;
    padding: 16px;

    @include respond(tablet){
        width: 340px;
        height: 209px;
        padding: 20px;
    }

    @include respond(pc){
        width: 296px;
    }

    &__inner{
        height: 100%;
    }

    &__icon{
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        margin-bottom: auto;
    }
    
    &__col{
        max-width: 150px;
        text-align: right;
        margin-left: auto;
    }

    &__title{
        margin-bottom: 11px;
    }

    &__text{
        margin-left: auto;
        margin-bottom: 0;
    }

    // Тема на странице p-Partner
    &--theme-affiliate{
        width: 240px;
        height: 250px;
        padding: 24px 24px 30px 24px;
        
        @include respond(tablet){
            width: 340px;
            height: 225px;
            padding: 28px 28px 36px 28px;
        }

        @include respond(pc){
            width: 400px;
        }

        .card-plus__icon{
            margin-left: auto;
        }


        .card-plus__col{
            text-align: left;
            margin-left: 0;
            max-width: 253px;
        }
    }
}