@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-plus{
    width: 240px;
    height: 165px;
    padding: 16px;

    @include respond(tablet){
        width: 340px;
        height: 209px;
        padding: 20px;
    }

    @include respond(pc){
        width: 296px;
    }

    &__inner{
        height: 100%;
    }

    &__icon{
        width: 64px;
        height: 64px;
        margin-bottom: auto;

        &--right{
            margin-left: auto;
        }
    }
    
    &__col{
        width: 150px;
        text-align: right;
        margin-left: auto;

        &--left{
            text-align: left;
        }
    }

    &__text{
        font-size: 16px;
        line-height: 23px;
        margin-left: auto;
        margin-bottom: 0;
    }

    &--size-m{
        width: 240px;
        height: 250px;

        @include respond(tablet){
            width: 340px;
            height: 225px;
        }
        
        @include respond(pc){
            width: 400px;
        }
    }
}