@use '../../../assets/scss/mixins/mediaQuery' as *;

.authbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 4px;

    @include respond(tablet){
        gap: 6px;
    }

    &__button{
        flex-shrink: 0;
    }

    // Aдаптируемый
    &--theme-responsive{

        .authbar__button{
            display: none;

            @include respond(tablet){
                &--lang{
                    display: block;
                }
            }

            @include respond(pc){
                display: block;
            }
        }
    }

    // Тема страницы API
    &--theme-api{

        .authbar__button--signup,
        .authbar__button--signin{
            display: none;
        }
    }

    &--theme-menu{

        @include respond(tablet){
            .authbar__button--lang{
                display: none;
            }
        }
    }
}