<div class="c-form-info">
    <div class="c-form-info__inner">
        <div class="c-form-info__col">
            <h2 class="title title--size-m c-form-info__title">Get in touch</h2>
            <p class="text text--size-m c-form-info__text">Write to us to get more information</p>
            <div class="c-form-info__fields">
                <div class="c-form-info__row">
                    <input type="text" placeholder="Last Name" class="c-form-info__field c-form-info__input">
                    <input type="text" placeholder="First Name" class="c-form-info__field c-form-info__input">
                </div>
                <input type="text" placeholder="Email" class="c-form-info__field c-form-info__input">
                <input type="number" placeholder="Phone number" class="c-form-info__field c-form-info__input">
                <textarea class="c-form-info__field c-form-info__textarea" placeholder="Message"></textarea>
            </div>
            <label class="checkbox c-form-info__checkbox">
                <input class="checkbox__input" type="checkbox" />
                <div class="checkbox__custom">
                    <svg class="checkbox__icon">
                        <use xlink:href="./sprites/icons.svg#icon-checkbox"></use>
                    </svg>
                </div>
                <p class="text text--size-m checkbox__label">I agree to the <a class="text--color-blue">Terms of Service</a> and <a class="text--color-blue">Privacy Policy</a></p>
            </label>
            <button class="button button--size-l button--fz-m button--color-light button--rounded button--bg-blue button--hover-bg-blue c-form-info__button">Send</button>
            <!-- <button class="button button--size-l button--color-light button--rounded button--bg-blue c-form-info__button">Close</button> -->
        </div>
        <div class="c-form-info__col c-form-info__col--pc-visible">
            <div class="c-form-info__frame">
                <img src="./images/c-form-info.jpg" alt="" class="c-form-info__img">
            </div>
        </div>
    </div>
</div>