.c-banner-wiki{
    position: relative;
    text-align: center;
    width: 400px;
    height: 595px;
    overflow: hidden;
    border-radius: 20px;
    padding: 71px 26px 26px 26px;

    &__background{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    &__column{
        position: relative;
        z-index: 1;
    }

    &__title{
        width: 300px;
        margin: 0 auto 16px auto;
    }

    &__text{
        margin-bottom: 16px;
    }

    &__button{
        margin: 0 auto;
    }
}