<div class="slider c-slider-articles @@class">
    <div class="slider__inner c-slider-articles__inner">
        @@include('../c-CardNews/index.html', {
            class: "c-slider-articles__slide",
            src: "./images/component_card-news_1.jpg",
            date: "12.08.2024",
            title: "Proxy vs VPN: Understanding the Differences",
        })
        @@include('../c-CardNews/index.html', {
            class: "c-slider-articles__slide",
            src: "./images/component_card-news_2.jpg",
            date: "12.08.2024",
            title: "Web Scraping With Proxies - Quick Introduction",
        })
        @@include('../c-CardNews/index.html', {
            class: "c-slider-articles__slide",
            src: "./images/component_card-news_3.jpg",
            date: "12.08.2024",
            title: "Setting Up a Proxy in the OctoBrowser",
        })
        @@include('../c-CardNews/index.html', {
            class: "c-slider-articles__slide",
            src: "./images/component_card-news_1.jpg",
            date: "12.08.2024",
            title: "Proxy vs VPN: Understanding the Differences",
        })
        @@include('../c-CardNews/index.html', {
            class: "c-slider-articles__slide",
            src: "./images/component_card-news_2.jpg",
            date: "12.08.2024",
            title: "Web Scraping With Proxies - Quick Introduction",
        })
        @@include('../c-CardNews/index.html', {
            class: "c-slider-articles__slide",
            src: "./images/component_card-news_3.jpg",
            date: "12.08.2024",
            title: "Setting Up a Proxy in the OctoBrowser",
        })
    </div>
</div>