<header class="c-header @@class">
    <div class="container">
        <div class="c-header__inner">
            @@include('../Logo/index.html', { 
                class: "c-header__logo",
                theme: "@@theme", 
            })

            @@if(typeof navigation == 'undefined' || navigation !== 'false') {
                @@include('../Navigation/index.html', { 
                    class: "c-header__navigation",
                    theme: "@@theme",
                })
            }

            <div class="c-header__row">
                @@if(typeof search !== 'undefined' && search === 'true'){
                    @@include('../c-Search/index.html', {
                        class: "search--bg-gray c-header__search",
                    })
                }
                
                @@include('../c-Authbar/index.html', { 
                    class: "c-authbar--theme-responsive c-header__authbar",
                    theme: "@@theme",  
                })

                @@if(typeof theme !== 'undefined' && theme == 'light'){
                    <button class="c-header__button">
                        <svg class="c-header__icon c-header__icon--color-light">
                            <use xlink:href="./sprites/icons.svg#icon-grid"></use>
                        </svg>
                    </button>
                }
                
                @@if(typeof theme == 'undefined' || theme !== 'light'){
                    <button class="button c-header__button">
                        <svg class="c-header__icon">
                            <use xlink:href="./sprites/icons.svg#icon-grid"></use>
                        </svg>
                    </button>
                }
            </div>
        </div>
    </div>
</header>