@use '../../../assets/scss/mixins/mediaQuery' as *;

.s-slider-news{

    &__row{
        margin-bottom: 36px;

        @include respond(tablet){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__slider{
        margin: 0 -24px;

        @include respond(tablet){
            margin: 0 -40px;
        }
        @include respond(pc){
            margin: 0;
        }
    }

}