@use '../../../assets/scss/mixins/mediaQuery' as *;

.present{
    position: relative;

    &__background{
        position: absolute;
        inset: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__inner{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        z-index: 2;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 24px;

        @include respond(tablet){
            padding: 0 40px;
        }
    }

    &__group{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 28px auto;
        
        @include respond(tablet){
            flex-direction: row-reverse;
            max-width: 1027px;
            margin: 0 auto 34px auto;
        }
    }

    &__icon{
        width: 58px;
        height: 41px;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 28px;

        @include respond(tablet){
            margin-bottom: 0;
            margin-left: 28px;
        }
    }

    &__title{
        max-width: 1027px;

        &--space-down{
            margin-bottom: 28px;

            @include respond(tablet){
                margin-bottom: 32px;
            }
        }
    }
    
    &__text{
        text-align: center;
        margin-bottom: 28px;
        
        @include respond(tablet){
            max-width: 455px;
            margin-bottom: 34px;
        }

        @include respond(pc){
            max-width: 610px;
        }
    }

    &__row{
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(tablet){
            margin-bottom: 91px;
        }
    }

    &__button{
        &:not(:last-child){
            margin-right: 8px;
        }
    }

    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item{
        display: none;

        @include respond(tablet){
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            height: 50px;
            &:not(:last-child){
                border-right: 1px solid #fff;
                padding-right: 24px;
            }
            &:not(:first-child){
                padding-left: 24px;
            }
        }
    }

    &--theme-dark{
        .present{
            &__title,
            &__statistic,
            &__text{
                color: #313844;
            }

            &__item{
                border-color: #313844;
            }

        }
    }
}