@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-about{

    &__promo{
        position: sticky;
    }

    &__header{
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__title{
        margin-bottom: 24px;

        @include respond(tablet){
            margin-bottom: 32px;
        }

        @include respond(pc){
           margin-bottom: 42px;
        }
    }

    &__supplier{
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 54px;
        }

        @include respond(pc){
            margin-bottom: 65px;
        }
    }

    
    &__player{
        margin-bottom: 24px;
        
        @include respond(tablet){
            margin-bottom: 33px;
        }
        
        @include respond(pc){
            margin-bottom: 65px;
        }
    }


    &__group{
        &:not(:last-child){
            margin-bottom: 32px;

            @include respond(tablet){
                margin-bottom: 42px;
            
            }
            @include respond(pc){
    
            }
        }
    }

    &__subtitle{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 24px;
        }
        @include respond(pc){
            margin-bottom: 28px;
        }
    }

    &__text{
       &:not(:last-child){
            margin-bottom: 14px;

            @include respond(tablet){
            
            }
            @include respond(pc){
    
            }
       }
    }
}