@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-detector{
    padding-top: 120px;

    @include respond(tablet){
        padding-top: 170px;
    }

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }
    
    &__title{
        margin-bottom: 30px;

        @include respond(tablet){
            margin-bottom: 34px;
        }
        
        @include respond(pc){
            margin-bottom: 65px;
        }
    }

    &__subtitle{
        margin-bottom: 36px;
    }
}