@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-detector{
    &__header{
        margin-bottom: 40px;
    
        @include respond(tablet){
            margin-bottom: 80px;
        }

        @include respond(tablet){
            margin-bottom: 100px;
        }
    }

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }
    
    &__title{
        margin-bottom: 30px;

        @include respond(tablet){
            margin-bottom: 34px;
        }
        
        @include respond(pc){
            margin-bottom: 65px;
        }
    }

    &__subtitle{
        margin-bottom: 36px;
    }
}