@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-advanced{
    width: 240px;
    height: 342px;
    padding: 30px 22px;

    @include respond(tablet){
        width: 320px;
        height: 400px;
        padding: 46px 33px;
    }

    @include respond(pc){
        width: 400px;
        height: 500px;
    }
}