@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-advanced{
    position: relative;
    width: 240px;
    height: 342px;
    border-radius: 30px;
    overflow: hidden;

    @include respond(tablet){
        width: 320px;
        height: 400px;
    }

    @include respond(pc){
        width: 400px;
        height: 500px;
    }

    &__background{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    &__inner{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        padding: 20px;
        z-index: 1;

        @include respond(tablet){
            padding: 26px;
        }
    }

    &__title{
        color: #fff;
        font-size: 18px;
        margin-bottom: 12px;

        @include respond(tablet){
            font-size: 23px;
            margin-bottom: 8px;
        }

    }

    &__text{
        margin-bottom: 12px;

        @include respond(pc){
            margin-bottom: 16px;
        }
    }

    &__price{

    }

    &__icon{
        width: 32px;
        height: 32px;
        margin-left: auto;
    }

    &--size--medium{
        width: 240px;
        height: 260px;

        @include respond(tablet){
            width: 340px;
            height: 463px;
        }

        @include respond(pc) {
            width: 610px;
            height: 337px;
        }
    }
    &--size--large{
        
    }


}