<div class="slider c-slider-features @@class">
    <div class="slider__inner c-slider-features__inner">
        <div class="slider__slide slider__slide--double c-slider-features__slide">
            @@include("../c-CardPlus/index.html", {
                class: "c-card-plus--theme-affiliate",
                icon: "/sprites/affiliates.svg#icon-card-plus_affiliate_1",
                title: "Lifetime commission",
                text: "Earn 10% on all payments made by clients you refer",
            })
            @@include("../c-CardPlus/index.html", {
                class: "c-card-plus--theme-affiliate",
                icon: "/sprites/affiliates.svg#icon-card-plus_affiliate_2",
                title: "Simple method",
                text: "Attract clients using your referral link",
            })
        </div>
        <div class="slider__slide slider__slide--double c-slider-features__slide">
            @@include("../c-CardPlus/index.html", {
                class: "c-card-plus--theme-affiliate",
                icon: "/sprites/affiliates.svg#icon-card-plus_affiliate_3",
                title: "Fast crediting",
                text: "Commissions are credited 30 days after the client's payment",
            })
            @@include("../c-CardPlus/index.html", {
                class: "c-card-plus--theme-affiliate",
                icon: "/sprites/affiliates.svg#icon-card-plus_affiliate_4",
                title: "Use as you wish",
                text: "You can withdraw from $100 via USDT TRC20 or pay for a proxy inside the TROXY platform",
            })
            
        </div>
        <div class="slider__slide slider__slide--double c-slider-features__slide">
            @@include("../c-CardPlus/index.html", {
                class: "c-card-plus--theme-affiliate",
                icon: "/sprites/affiliates.svg#icon-card-plus_affiliate_5",
                title: "Constant income",
                text: "Users registered through your link remain linked to you for commission purposes",
            })
            @@include("../c-CardPlus/index.html", {
                class: "c-card-plus--theme-affiliate",
                icon: "/sprites/affiliates.svg#icon-card-plus_affiliate_6",
                title: "Unlimited income",
                text: "There are no limits on your income, we will pay as much as you can earn",
            })
        </div>
    </div>
</div>