<div class="slider-plans @@class">
    @@include("../CardSale/index.html", {
        class: "slider-plans__slide",
        bgPc: "/images/component_card-sale_pc-1.png",
        bgTb: "/images/component_card-sale_tb_1.png",
        bgMb: "/images/component_card-sale_mb-1.png",
        title: "Mix proxy",
        text: "World mixes, Europe, America, Asia and other variations",
        subtitle: "From $0.58",
    })
    @@include("../CardSale/index.html", {
        class: "slider-plans__slide",
        bgPc: "/images/component_card-sale_pc-2.png",
        bgTb: "/images/component_card-sale_tb-2.png",
        bgMb: "/images/component_card-sale_mb-2.png",
        title: "Proxies by country",
        text: "Over 195 locations worldwide for your purposes",
        subtitle: "From $0.62",
    })
    @@include("../CardSale/index.html", {
        class: "slider-plans__slide",
        bgPc: "/images/component_card-sale_pc-3.png",
        bgTb: "/images/component_card-sale_tb-3.png",
        bgMb: "/images/component_card-sale_mb-3.png",
        title: "Rotating proxies",
        text: "Unlimited Rotating Proxies for Anonymous WEB Surfing",
        subtitle: "From $0.59",
    })
    @@include("../CardSale/index.html", {
        class: "slider-plans__slide",
        bgPc: "/images/component_card-sale_pc-4.png",
        bgTb: "/images/component_card-sale_tb-4.png",
        bgMb: "/images/component_card-sale_mb-4.png",
        title: "Personal proxies",
        text: "Performance, speed and reliability",
        subtitle: "From $0.61",
    })
</div>