<div class="tabs">
    <ul class="tabs__list">
        <li class="tabs__item">
            <button class="button--rounded button--bg--white">Africa</button>
        </li>
        <li class="tabs__item">
            <button class="button--rounded button--bg--white">Asia</button>
        </li>
        <li class="tabs__item">
            <button class="button--rounded button--bg--white">North America</button>
        </li>
        <li class="tabs__item">
            <button class="button--rounded button--bg--white">South America</button>
        </li>
        <li class="tabs__item">
            <button class="button--rounded button--bg--white">Oceania</button>
        </li>
        <li class="tabs__item">
            <button class="button--rounded button--bg--white">Europe</button>
        </li>
    </ul>
</div>