<div class="card card--bg-blur card--border-gradient filter-region @@class">
    <button class="button button--indent-medium button--radius-large button--color-gray button--active-tab">@@tab_1</button>
    <button class="button button--indent-medium button--radius-large button--color-gray">@@tab_2</button>
    <button class="button button--indent-medium button--radius-large button--color-gray">@@tab_3</button>
    <button class="button button--indent-medium button--radius-large button--color-gray">@@tab_4</button>
    <button class="button button--indent-medium button--radius-large button--color-gray">@@tab_5</button>
    <button class="button button--indent-medium button--radius-large button--color-gray">@@tab_6</button>
</div>