@use '../../../assets/scss/mixins/mediaQuery' as *;

.navigation-api{
    display: flex;
    justify-content: space-between;

    &__row{
        display: flex;
        align-items: center;
    }

    &__link{
        font-size: 12px;
        font-weight: 700;

        @include respond(tablet){
            font-size: 16px;
        }
    }
    
    &__icon{
        width: 12px;
        height: 12px;
        
        &--left{
            transform: rotate(180deg);
            margin-right: 4px;
        }
        
        &--right{
            margin-left: 4px;
        }
    }
}