<a class="card card--radius-m @@prevClass c-card-extend @@class" href="#">
    <picture class="card__background">
        @@if(typeof bgPc !== 'undefined' && bgPc){
            <source class="card__img" media="(min-width: 1440px)" srcset="@@bgPc">
        }
        <source class="card__img" media="(min-width: 780px)" srcset="@@bgTb">
        <img class="card__img" src="@@bgMb">
    </picture>
    <div class="card__inner">
        
        @@if(theme == 'dark'){
            <h3 class="title--size-s title--color-blue c-card-extend__title">@@title</h3>
            @@if(typeof text !== 'undefined' && text){
                <p class="text text--size-m c-card-extend__text">@@text</p>
            }
            @@if(typeof label !== 'undefined' && label == 'true'){
                <div class="card__row">
                    <p class="text text--size-m c-card-extend__label">From</p>
                    <h3 class="title title--size-s title--color-dark">@@price</h3>
                </div>
            }
            @@if(typeof label == 'undefined' && typeof price !== 'undefined'){
                <h3 class="title title--size-s title--color-dark card__price">@@price</h3>
            }
            <svg class="card__icon card__icon--color-blue">
                <use xlink:href="./sprites/icons.svg#icon-arrow"></use>
            </svg>
        }

        @@if(theme == 'light'){
            <h3 class="title--size-s title--color-light c-card-extend__title">@@title</h3>
            @@if(typeof text !== 'undefined' && text){
                <p class="text text--size-m c-card-extend__text text--color-light c-card-extend__text">@@text</p>
            }
            @@if(typeof label !== 'undefined' && label == 'true'){
                <div class="card__row">
                    <p class="text text--size-m text--color-light c-card-extend__label">From</p>
                    <h3 class="title title--size-s title--color-light">@@price</h3>
                </div>
            }
            @@if(typeof label == 'undefined' && typeof price !== 'undefined'){
                <h3 class="title title--size-s title--color-light">@@price</h3>
            }
            <svg class="card__icon card__icon--color-light">
                <use xlink:href="./sprites/icons.svg#icon-arrow"></use>
            </svg>
        }
    </div>    
</a>