@use '../../../assets/scss/mixins/mediaQuery' as *;

.terms{
    &__title{
        margin-bottom: 18px;
        
        @include respond(tablet){
            margin-bottom: 32px;
        }

        @include respond(tablet){
            margin-bottom: 42px;
        }
    }

    &__group{
        &:not(:last-child){
            margin-bottom: 18px;

            @include respond(tablet){
                margin-bottom: 36px;
            }
        }
    }

    &__subtitle{
        font-size: 19px;
        margin-bottom: 14px;

        @include respond(tablet){
            font-size: 23px;
            margin-bottom: 18px;
        }
        
        &--small{
            font-size: 16px;

            @include respond(tablet){
                font-size: 19px;
            }
        }
    }

    &__text{
        &:not(:last-child){
            margin-bottom: 14px;
            
            @include respond(tablet){
                margin-bottom: 18px;
            }
        }
    }

    &__list{
        list-style-type: disc;
        margin-bottom: 14px;
        padding-left: 20px;
    }
}