@use '../../../assets/scss/mixins/mediaQuery' as *;

.c-slider-home{
    position: relative;

    &__slide{
        height: 200px;
        border-radius: 30px;
        overflow: hidden;

        @include respond(tablet){
            height: 394px;
        }
        @include respond(pc){
            height: 609px;
        }
    }
}