@use '../../../assets/scss/mixins/mediaQuery' as *;

.question{
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    max-width: 820px;

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;

        @include respond(tablet){
            padding: 28px;
        }
    }

    &__title{
        margin-right: auto;
        transition: all .3s;

        @include respond(tablet){
            font-size: 19px;
        }

        &--active{
            color: #2E7AF5;
        }
    }

    &__icon{
        flex-shrink: 0;
        width: 12px;
        height: 18px;
        transition: all .3s;

        &--active{
            fill: #2E7AF5;
            stroke: #2E7AF5;
            transform: rotate(-180deg);
        }
    }

    &__bottom{
        transition: max-height 0.5s ease, padding 0.3s ease;
        overflow: hidden;
    }

    &__content{
        position: relative;
        padding: 24px;
        
        @include respond(tablet){
            padding: 28px;
        }
    }
    
    &__border{
        position: absolute;
        top: 0;
        left: 24px;
        right: 24px;
        display: block;
        border-top: 1px solid #CED3DC;
    }

}