.question{
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    padding: 24px;

    &__row{
        display: flex;
        align-items: center;
    }

    &__title{
        font-size: 16px;
        margin-right: 52px;
    }

    &__answer{
        display: none;
    }

    
    &--active{
        .question__title{
            color: #2E7AF5;
        }

        .question__answer{
            display: block;
            margin-top: 26px;
            border-top: 1px solid #CED3DC;
            padding-top: 24px;
        }
    }
}