@use 'sass:map';
@use 'sass:meta';

$breakpoints: (
  mobile: 375px,
  tablet: 780px,
  pc: 1440px
);

@mixin respond($value, $direction: 'min') {
  // Если передано число (например, 600px)
  @if meta.type-of($value) == 'number' {
    @if $direction == 'max' {
      @media (max-width: ($value - 1)) {
        @content;
      }
    } @else {
      @media (min-width: $value) {
        @content;
      }
    }
  }
  // Если передано имя брейкпоинта (например, 'tablet')
  @else if meta.type-of($value) == 'string' {
    $screen: map.get($breakpoints, $value);
    
    @if $screen {
      @if $direction == 'max' {
        @media (max-width: ($screen - 1)) {
          @content;
        }
      } @else {
        @media (min-width: $screen) {
          @content;
        }
      }
    } @else {
      @error "Breakpoint '#{$value}' not found in $breakpoints map. Available breakpoints: #{map.keys($breakpoints)}";
    }
  }
  // Если передано что-то не то
  @else {
    @error "Expected a number or breakpoint name, got #{meta.type-of($value)}";
  }
}