<a class="card card--radius-m card-advanced @@class" href="#">
    <picture class="card__background">
        @@if(typeof bgPc !== 'undefined' && bgPc){
            <source class="card__img" media="(min-width: 1440px)" srcset="@@bgPc">
        }
        @@if(typeof bgTb !== 'undefined' && bgTb){
            <source class="card__img" media="(min-width: 780px)" srcset="@@bgTb">
        }
        <img class="card__img" src="@@bgMb">
    </picture>
    <div class="card__inner">
        <h3 class="card__title card__title--fz-m card__title--color-light">@@title</h3>
        <p class="card__text card__text--color-light">@@text</p>
        <svg class="card__icon card__icon--color-light">
            <use xlink:href="./sprites/icons.svg#icon-arrow"></use>
        </svg>
    </div>
</a>