@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-udp{

    @include respond(pc){
        padding: 0;
    }

    &__inner{
        gap: 19px;

        @include respond(pc){
            overflow: visible;
            flex-wrap: wrap;
        }
    }

    &__slide{
        gap: 19px;

        @include respond(tablet){
            flex-direction: column;
        }
    }
}