@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-udp{

    &__spacer{
        @include respond(pc){
            display: none;
        }
    }

    &__inner{
        gap: 19px;

        @include respond(pc){
            overflow: visible;
            flex-wrap: wrap;
        }

    }

    &__slide{
        gap: 19px;

        @include respond(tablet){
            flex-direction: column;
        }
    }
}