@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-by-country{
    overflow: hidden;

    &__present{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 50px);
    }

    &__animate{
        position: absolute;
        transition: all .3s;

        &--top{
            display: none;

            @include respond(tablet){
                display: block;
                min-width: 578px;
                height: 578px;
                top: -76px;
                left: -229px;
            }

            @include respond(pc){
                min-width: 648px;
                height: 648px;
                top: 34px;
                left: -265px;
            }
        }

        &--bottom{
            min-width: 398px;
            height: 398px;
            bottom: -107px;
            right: -100px;

            @include respond(tablet){
                min-width: 647px;
                height: 647px;
                bottom: -146px;
                right: -162px;
            }

            @include respond(pc){
                min-width: 701px;
                height: 701px;
                bottom: -158px;
                right: -217px;
            }
        }
        
    }

    &__title{
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }
    
    &__slider-flags{
        margin: 0 -24px;
        
        @include respond(tablet){
            display: none;
        }
    }
    
    &__flag-list{
        display: none;

        @include respond(tablet){
            margin: 0 auto;
            display: flex;
        }
    }
}