@use '../../../assets/scss/mixins/mediaQuery' as *;

.c-filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    border-radius: 32px;
    gap: 12px;
    padding: 4px;

    @include respond(pc){
        flex-wrap: nowrap;
        width: fit-content;
    }
}