@use '../../../assets/scss/mixins/mediaQuery' as *;
.p-purposes{
    
    &__header{
        margin-bottom: 40px;
    
        @include respond(tablet){
            margin-bottom: 80px;
        }

        @include respond(tablet){
            margin-bottom: 100px;
        }
    }

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__title{
        margin-bottom: 36px;
        
        @include respond(tablet){
            margin-bottom: 65px;
        }
    }

    &__slider{
        margin: 0 -24px;

        @include respond(tablet){
            display: none;
        }
    }

    &__list{
        display: none;
        
        @include respond(tablet){
            display: block;
            margin: 0 auto;
        }
    }
}