@use '../../../assets/scss/mixins/mediaQuery' as *;

.banner{
    position: relative;
    padding: 52px 0;

    @include respond(tablet) {
        padding: 85px 0;
    }

    @include respond(pc) {
        padding: 96px 0;
    }

    &__background{
        position: absolute;
        inset: 0;
        z-index: 0;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__inner{
        position: relative;
        z-index: 1;
    }

    &__title{
        margin-bottom: 14px;
        max-width: 390px;

        @include respond(tablet){
            margin-bottom: 27px;
        }
    }

    &__text{
        margin-bottom: 14px;
        max-width: 440px;

        @include respond(tablet){
            margin-bottom: 27px;
        }
    }

    &__row{
        display: flex;
        align-items: center;
    }

    &__button{
        &:not(:last-child){
            margin-right: 8px;
        }
    }
}