@use '../../../assets/scss/mixins/mediaQuery' as *;

.banner{
    position: relative;
    padding: 98px 0 98px 0;

    @include respond(tablet) {
        padding: 65px 0 65px 0;
    }

    @include respond(pc) {
        padding: 92px 0 94px 0;
    }

    &__background{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    &__inner{
        position: relative;
        z-index: 1;
    }

    &__title{
        margin-bottom: 14px;
        max-width: 390px;

        @include respond(tablet){
            margin-bottom: 27px;
        }
    }

    &__text{
        margin-bottom: 14px;
        max-width: 440px;

        @include respond(tablet){
            margin-bottom: 27px;
        }
    }

    &__row{
        display: flex;
        align-items: center;
    }

    &__button{
        &:not(:last-child){
            margin-right: 8px;
        }
    }
}