@use '../../../assets/scss/mixins/mediaQuery' as *;

.proxy-plans{
    
    &__slider{
        max-width: 700px;
        margin: 0 -24px 0 0;

        @include respond(tablet){
            margin: 0 auto;
        }

        @include respond(pc){
            max-width: none;
        }
    }

    &__title{
        text-align: center;
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }
}