@use '../../../assets/scss/mixins/mediaQuery' as *;

.simple{

    &__title{
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }
    
    &__text{
        &:not(:last-child){
            margin-bottom: 26px;

            @include respond(tablet){
                margin-bottom: 34px;
            }
        }
    }
}