<div class="slider @@class">
    <span class="slider__stub"></span>
    <div class="slider__inner">
        
        <div class="slider-flags__slide">
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "ru",
                title: "Russia"
            })
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "us",
                title: "USA"
            })
        </div>
        <div class="slider-flags__slide">
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "ch",
                title: "China"
            })
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "au",
                title: "Australia"
            })
        </div>
        <div class="slider-flags__slide">
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "in",
                title: "India"
            })
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "de",
                title: "Germany"
            })
        </div>
        <div class="slider-flags__slide">
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "tr",
                title: "Turkey"
            })
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "pk",
                title: "Pakistan"
            })
        </div>
        <div class="slider-flags__slide">
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "nl",
                title: "Netherlands"
            })
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "uk",
                title: "UK"
            })
        </div>
        <div class="slider-flags__slide">
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "ua",
                title: "Ukraine"
            })
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "pl",
                title: "Poland"
            })
        </div>
        <div class="slider-flags__slide">
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "fr",
                title: "France"
            })
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "br",
                title: "Brazil"
            })
        </div>
        <div class="slider-flags__slide">
            @@include('../CardFlag/index.html', {
                class: "slider-flags__card",
                iconName: "es",
                title: "Spain"
            })
        </div>
    </div>
    <span class="slider__stub"></span>
</div>