<div class="slider slider-flags @@class">
    <div class="slider-flags__inner">
        <div class="slider__slide @@mode">
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_ru.svg",
                title: "Russia"
            })
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_us.svg",
                title: "USA"
            })
        </div>
        <div class="slider__slide @@mode">
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_ch.svg",
                title: "China"
            })
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_au.svg",
                title: "Australia"
            })
        </div>
        <div class="slider__slide @@mode">
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_in.svg",
                title: "India"
            })
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_de.svg",
                title: "Germany"
            })
        </div>
        <div class="slider__slide @@mode">
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_tr.svg",
                title: "Turkey"
            })
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_pk.svg",
                title: "Pakistan"
            })
        </div>
        <div class="slider__slide @@mode">
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_nl.svg",
                title: "Netherlands"
            })
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_uk.svg",
                title: "UK"
            })
        </div>
        <div class="slider__slide @@mode">
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_ua.svg",
                title: "Ukraine"
            })
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_pl.svg",
                title: "Poland"
            })
        </div>
        <div class="slider__slide @@mode">
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_fr.svg",
                title: "France"
            })
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_br.svg",
                title: "Brazil"
            })
        </div>
        <div class="slider__slide @@mode">
            @@include('../../components/CardFlag/index.html', {
                src: "./images/flag_es.svg",
                title: "Spain"
            })
        </div>
    </div>
</div>