@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-vacancies{
    padding-top: 130px;

    @include respond(tablet){
        padding-top: 170px;
    }

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__title{
        margin-bottom: 24px;

        @include respond(tablet){
            margin-bottom: 42px;
        }
    }
    
    &__filters{
        margin-bottom: 24px;
    }

    &__list{
        margin-bottom: 24px;
    
        @include respond(pc){
            margin-bottom: 46px;
        }
    }

    &__card{
        &:not(:last-child){
            margin-bottom: 14px;
        }
    }

    &__pagination{
        margin: 0 auto;
    }
}