@use '../../../assets/scss/mixins/mediaQuery' as *;

.vacancies{

    &__title{
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 24px;

        @include respond(tablet){
            font-size: 52px;
            line-height: 64px;
            margin-bottom: 42px;
        }
    }
    
    &__tabs{
        margin-bottom: 24px;
    }

    &__card{
        &:not(:last-child){
            margin-bottom: 14px;
        }
        
        &:last-child{
            margin-bottom: 24px;

            @include respond(pc){
                margin-bottom: 46px;
            }
        }

        &--active{
            background-color: #fff;
        }
    }

    &__pagination{
        margin: 0 auto;
    }
}