@use '../../../assets/scss/mixins/mediaQuery' as *;

.vacancies{

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__title{
        margin-bottom: 24px;

        @include respond(tablet){
            margin-bottom: 42px;
        }
    }
    
    &__tabs{
        margin-bottom: 24px;
    }

    &__card{
        &:not(:last-child){
            margin-bottom: 14px;
        }
        
        &:last-child{
            margin-bottom: 24px;

            @include respond(pc){
                margin-bottom: 46px;
            }
        }
    }

    &__pagination{
        margin: 0 auto;
    }
}