@use '../../../assets/scss/mixins/mediaQuery' as *;

.partner{
    overflow: hidden;

    &__present{
        position: relative;
    }

    &__animate{
        position: absolute;
        transition: all .3s;

        &--top{
            display: none;

            @include respond(tablet){
                display: block;
                min-width: 659px;
                height: 659px;
                top: -87px;
                left: -269px;
            }

            @include respond(pc){
                min-width: 718px;
                height: 718px;
                top: -129px;
                left: -242px;
            }
        }

        &--bottom{
            min-width: 539px;
            height: 539px;
            bottom: -206px;
            right: -192px;

            @include respond(tablet){
                min-width: 664px;
                height: 664px;
                bottom: -176px;
                right: -260px;
            }

            @include respond(pc){
                right: -176px;
            }
        }
    }

    &__title{
        text-align: center;
    }

    &__cards{
        display: flex;
        flex-direction: column;
        gap: 18px;
        max-width: 698px;
        margin: 0 auto;

        @include respond(tablet){
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 18px;
        }

        @include respond(pc){
            max-width: 100%;
        }
    }
    
    &__card{
        flex-shrink: 0;
    }
    
    &__subtitle{
        text-align: center;
        margin-bottom: 36px;
        
        @include respond(pc){
            margin-bottom: 65px;
        }
    }
    
    &__slider{
        margin: 0 -24px;

        @include respond(tablet){
            margin: 0 -40px;  
        }

        @include respond(pc){
            overflow: visible;
            margin: 0; 
        }
    }

    &__stub{
        @include respond(pc){
           display: none;
        }
    }

    &__inner{
        column-gap: 20px;
    }

    &__slide{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}