@use '../../../assets/scss/mixins/mediaQuery' as *;

.c-slider-mix{

    @include respond(pc){
        padding: 0;
    }

    &__inner{
        column-gap: 19px;

        @include respond(pc){
            row-gap: 20px;
            flex-wrap: wrap;
        }
    }
}