@use '../../../assets/scss/mixins/mediaQuery' as *;

.c-slider-mix{

    &__spacer{
        @include respond(pc){
            display: none;
        }
    }

    &__inner{
        column-gap: 19px;

        @include respond(pc){
            row-gap: 20px;
            flex-wrap: wrap;
            margin: 0 auto;
        }
    }
}