<div class="slider c-slider-mix @@class">
    <div class="slider__inner c-slider-mix__inner">
        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-mix_pc-1.png",
            bgTb: "./images/card-extend--mix_proxy-mix_tb-1.png",
            bgMb: "./images/card-extend--mix_proxy-mix_mb-1.png",
            title: "Mix Europe 1 000 IP",
            text: "The package includes 1000 European IPs",
            blur: "true",
            label: "true",
            price: '$0.58',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-mix_pc-2.png",
            bgTb: "./images/card-extend--mix_proxy-mix_tb-2.png",
            bgMb: "./images/card-extend--mix_proxy-mix_mb-2.png",
            title: "Mix Europe 3 000 IP",
            text: "The package includes 3000 European IPs",
            blur: "true",
            label: "true",
            price: '$0.59',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-mix_pc-3.png",
            bgTb: "./images/card-extend--mix_proxy-mix_tb-3.png",
            bgMb: "./images/card-extend--mix_proxy-mix_mb-3.png",
            title: "Mix America 1 000 IP",
            text: "The package includes 1000 American IPs",
            blur: "true",
            label: "true",
            price: '$0.61',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-mix_pc-4.png",
            bgTb: "./images/card-extend--mix_proxy-mix_tb-4.png",
            bgMb: "./images/card-extend--mix_proxy-mix_mb-4.png",
            title: "Mix America 3 000 IP",
            text: "The package includes 3000 American IPs",
            blur: "true",
            label: "true",
            price: '$0.58',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-mix_pc-5.png",
            bgTb: "./images/card-extend--mix_proxy-mix_tb-5.png",
            bgMb: "./images/card-extend--mix_proxy-mix_mb-5.png",
            title: "Mix World 5 000 IP",
            text: "The package includes 5000 IPs of the best world locations",
            blur: "true",
            label: "true",
            price: '05.8',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-mix_pc-6.png",
            bgTb: "./images/card-extend--mix_proxy-mix_tb-6.png",
            bgMb: "./images/card-extend--mix_proxy-mix_mb-6.png",
            title: "Mix World 15 000 IP",
            text: "The package includes 15000 IPs of the best world locations",
            blur: "true",
            label: "true",
            price: '$0.61',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-mix_pc-7.png",
            bgTb: "./images/card-extend--mix_proxy-mix_tb-7.png",
            bgMb: "./images/card-extend--mix_proxy-mix_mb-7.png",
            title: "Mix America 25 000 IP",
            text: "The package includes 25000 American IPs",
            blur: "true",
            label: "true",
            price: '$0.58',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-mix_pc-8.png",
            bgTb: "./images/card-extend--mix_proxy-mix_tb-8.png",
            bgMb: "./images/card-extend--mix_proxy-mix_mb-8.png",
            title: "Mix World 50 000 IP",
            text: "The package includes 50000 IPs of the best world locations",
            blur: "true",
            label: "true",
            price: '$0.59',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-mix_pc-9.png",
            bgTb: "./images/card-extend--mix_proxy-mix_tb-9.png",
            bgMb: "./images/card-extend--mix_proxy-mix_mb-9.png",
            title: "Mix World 200 000 IP",
            text: "The package includes 200000 IPs of the best world locations",
            blur: "true",
            label: "true",
            price: '$0.61',
            theme: 'dark',
        })
    </div>
</div>