<div class="c-proxy-checker @@class">
    <div class="c-proxy-checker__checklist c-proxy-checker__checklist--hidden">
        <label for="checklist" class="c-proxy-checker__label">Insert list of proxy here:</label>
        <textarea class="c-proxy-checker__textarea" id="checklist" placeholder="Supported string formats type//user:password@ip:port or"></textarea>
    </div>
    <div class="c-proxy-checker__fields">
        <div class="c-proxy-checker__item c-proxy-checker__item--select">
            <div class="c-proxy-checker__label">Type</div>
            <div class="select select--border c-proxy-checker__select">
                <div class="select__front">
                    <div class="select__name">HTTPS</div>
                    <svg class="icon select__icon">
                        <use xlink:href="./sprites/icons.svg#icon-chevron-down"></use>
                    </svg>
                </div>
                <ul class="select__options">
                    <li class="select__value">HTTP</li>
                    <li class="select__value select__value--selected">HTTPS</li>
                    <li class="select__value">SOCKS4</li>
                    <li class="select__value">SOCKS5</li>
                </ul>
            </div>
        </div>
        <div class="c-proxy-checker__item c-proxy-checker__item--ip">
            <label for="ip" class="c-proxy-checker__label">IP</label>
            <input id="ip" type="text" class="c-proxy-checker__input c-proxy-checker__input--ip" placeholder="127.0.0.1">
        </div>
        <div class="c-proxy-checker__item c-proxy-checker__item--port">
            <label for="port" class="c-proxy-checker__label">Port</label>
            <input id="port" type="text" class="c-proxy-checker__input c-proxy-checker__input--port" placeholder="22">
        </div>
        <div class="c-proxy-checker__item c-proxy-checker__item--user">
            <label for="user" class="c-proxy-checker__label">User</label>
            <input id="user" type="text" class="c-proxy-checker__input c-proxy-checker__input--user" placeholder="<empty>">
        </div>
        <div class="c-proxy-checker__item c-proxy-checker__item--password">
            <label for="password" class="c-proxy-checker__label">Password</label>
            <input id="password" type="text" class="c-proxy-checker__input c-proxy-checker__input--pass" placeholder="<empty>">
        </div>
    </div>
    <div class="c-proxy-checker__control">
        <button class="button button--size-l button--rounded button--border-gray button--hover-blue c-proxy-checker__button c-proxy-checker__button--plain">Plain text</button>
        <button class="button button--size-l button--rounded button--border-gray button--hover-blue c-proxy-checker__button c-proxy-checker__button--add">Add to queue</button>
        <button class="button button--size-l button--rounded button--bg--blue button--color-light button--bg-blue c-proxy-checker__button c-proxy-checker__button--check">Check proxy</button>
    </div>
</div>