<div class="slider slider-requests @@class">
    <div class="slider__inner slider-requests__inner">
        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix slider__slide",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-rotating_pc-1.png",
            bgTb: "./images/card-extend--mix_proxy-rotating_tb-1.png",
            bgMb: "./images/card-extend--mix_proxy-rotating_mb-1.png",
            title: "Mix Europe 1 000 IP",
            text: "The package includes 1000 European IPs",
            blur: "true",
            price: '$0.58',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix slider__slide",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-rotating_pc-2.png",
            bgTb: "./images/card-extend--mix_proxy-rotating_tb-2.png",
            bgMb: "./images/card-extend--mix_proxy-rotating_mb-2.png",
            title: "Mix Europe 1 000 IP",
            text: "The package includes 1000 European IPs",
            blur: "true",
            price: '$0.58',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix slider__slide",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-rotating_pc-3.png",
            bgTb: "./images/card-extend--mix_proxy-rotating_tb-3.png",
            bgMb: "./images/card-extend--mix_proxy-rotating_mb-3.png",
            title: "Mix Europe 1 000 IP",
            text: "The package includes 1000 European IPs",
            blur: "true",
            price: '$0.58',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix slider__slide",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-rotating_pc-4.png",
            bgTb: "./images/card-extend--mix_proxy-rotating_tb-4.png",
            bgMb: "./images/card-extend--mix_proxy-rotating_mb-4.png",
            title: "Mix Europe 1 000 IP",
            text: "The package includes 1000 European IPs",
            blur: "true",
            price: '$0.58',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix slider__slide",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-rotating_pc-5.png",
            bgTb: "./images/card-extend--mix_proxy-rotating_tb-5.png",
            bgMb: "./images/card-extend--mix_proxy-rotating_mb-5.png",
            title: "Mix Europe 1 000 IP",
            text: "The package includes 1000 European IPs",
            blur: "true",
            price: '$0.58',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix slider__slide",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-rotating_pc-6.png",
            bgTb: "./images/card-extend--mix_proxy-rotating_tb-6.png",
            bgMb: "./images/card-extend--mix_proxy-rotating_mb-6.png",
            title: "Mix Europe 1 000 IP",
            text: "The package includes 1000 European IPs",
            blur: "true",
            price: '$0.58',
            theme: 'dark',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--mix slider__slide",
            prevClass: "card--bg-blur card--border-gradient",
            bgPc: "./images/card-extend--mix_proxy-rotating_pc-7.png",
            bgTb: "./images/card-extend--mix_proxy-rotating_tb-7.png",
            bgMb: "./images/card-extend--mix_proxy-rotating_mb-7.png",
            title: "Mix Europe 1 000 IP",
            text: "The package includes 1000 European IPs",
            blur: "true",
            price: '$0.58',
            theme: 'dark',
        })
    </div>
</div>