@use '../../../assets/scss/mixins/mediaQuery' as *;

.scripts{

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__inner{
        max-width: 327px;
        margin: 0 auto;

        @include respond(tablet){
            max-width: 700px;
        }

        @include respond(pc){
            max-width: none;
        }

    }

    &__title{
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }

    &__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
        margin: 0 0 24px 0;

        @include respond(tablet){
            flex-direction: row;align-items: normal;
            flex-wrap: wrap;
            gap: 21px;
            margin-bottom: 65px;
        }
    }

    &__pagination{
        margin: 0 auto;
    }
}