@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-scripts{
    padding-top: 130px;

    @include respond(tablet){
        padding-top: 170px;
    }

    &__breadcrumbs{
        margin-bottom: 14px;

    }

    &__inner{
        max-width: 327px;
        margin: 0 auto;

        @include respond(tablet){
            max-width: 700px;
        }

        @include respond(pc){
            max-width: none;
        }

    }

    &__title{
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }

    &__list{
        margin: 0 auto;
        margin-bottom: 28px;

        @include respond(tablet){
            margin-bottom: 65px;
        }

        @include respond(pc){
            margin-bottom: 70px;
        }
    }

    &__pagination{
        margin: 0 auto;
    }
}