@use '../../../assets/scss/mixins/mediaQuery' as *;

.footer-api{
    position: relative;
    background-color: #273854;

    @include respond(tablet){
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }
    
    @include respond(pc){
        padding: 0 100px;
    }

    &__top,
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 88px;
    }

    &__top{
        background-color: #17263F;
        
        @include respond(tablet){
            background-color: transparent;
        }
    }

    &__text{
        font-size: 12px;
        color: #fff;

        @include respond(tablet){
            font-size: 14px;
        }

        @include respond(pc){
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}