@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-news{
    position: relative;

    &__background{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        @include respond(pc){
            display: none;
        }
    }

    &__inner{
        position: relative;
        z-index: 1;
    }

    &__row{
        margin-bottom: 36px;

        @include respond(tablet){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    

    &__control{
        display: none;

        @include respond(pc){
            display: flex;
        }
    }

    &__prev{
        @include respond(pc){
            margin-right: 6px;
        }
    }

    &__slider{
        display: flex;
        overflow: hidden;
        margin-right: -24px;

        @include respond(tablet){
            margin-right: -40px;
        }
        @include respond(pc){
            margin-right: 0;
        }
    }

    &__card{
        flex-shrink: 0;

        &:not(:last-child){
            margin-right: 20px;
        }
    }
}