@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-news{

    &__row{
        margin-bottom: 36px;

        @include respond(tablet){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    

    &__control{
        display: none;

        @include respond(pc){
            display: flex;
        }
    }

    &__prev{
        @include respond(pc){
            margin-right: 6px;
        }
    }

    &__slider{
        display: flex;
        column-gap: 20px;
        overflow-x: auto;
        padding: 0 24px;
        margin: 0 -24px;

        &::-webkit-scrollbar{
            display: none;
        }

        @include respond(tablet){
            padding: 0 40px;
            margin: 0 -40px;
        }
        @include respond(pc){
            margin-right: 0;
        }
    }

    &__stub{
        width: 24px;
    }

    &__card{
        height: 283px;
    }
}