@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-wiki{
    
    &__header{
        margin-bottom: 40px;
    
        @include respond(tablet){
            margin-bottom: 80px;
        }

        @include respond(tablet){
            margin-bottom: 100px;
        }
    }

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__title{
        margin-bottom: 31px;

        @include respond(tablet){
            margin-bottom: 34px;
        }

        @include respond(pc){
            margin-bottom: 42px;
        }

    }

    &__search{
        margin-bottom: 20px;

        @include respond(tablet){
            margin-bottom: 32px;
        }
    }
    
    &__keyboard{
        margin: 0 -24px;
        margin-bottom: 42px;

        @include respond(tablet){
           
        }
    }

    &__list{
        margin: 0 auto;
    }
}