<div class="slider c-slider-purposes @@class">
    <div class="slider__inner c-slider-purposes__inner">
        @@include('../CardExtend/index.html', {
            class: "card-extend--special slider__slide",
            prevClass: "card--bg-blur card--border-gradient",
            bgTb: "./images/card-extend--special_pi_tb-1.png",
            bgMb: "./images/card-extend--special_pi_mb-1.png",
            title: "Unlimited datacenter proxies",
            text: "For bulk data parsing, SEO and monitoring",
            price: '$0.58',
            label: "true",
            theme: 'dark',
        })

        @@include('../CardExtend/index.html', {
            class: "card-extend--special slider__slide",
            prevClass: "card--bg-blur card--border-gradient",
            bgTb: "./images/card-extend--special_pi_tb-2.png",
            bgMb: "./images/card-extend--special_pi_mb-2.png",
            title: "Limit proxies",
            text: "For accurate data collection without unnecessary overhead",
            price: '$0.62',
            label: "true",
            theme: 'dark',
        })

        @@include('../CardExtend/index.html', {
            class: "card-extend--special slider__slide",
            prevClass: "card--bg-blur card--border-gradient",
            bgTb: "./images/card-extend--special_pi_tb-3.png",
            bgMb: "./images/card-extend--special_pi_mb-3.png",
            title: "UDP proxy",
            text: "For working with streaming video, as they are optimized for fast data transfer",
            price: '$0.59',
            label: "true",
            theme: 'dark',
        })
    </div>
</div>