@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-proxy-mix{
    overflow: hidden;

    &__intro{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 50px);
    }

    &__present{
        position: relative;
        height: 100%;
        z-index: 1;
    }

    &__animate{
        position: absolute;
        transition: all .3s;

        &--top{
            display: none;

            @include respond(tablet){
                display: block;
                min-width: 447px;
                height: 447px;
                top: 126px;
                left: -164px;
            }

            @include respond(pc){
                min-width: 466px;
                height: 466px;
                top: 159px;
                left: -95px;
            }
        }

        &--bottom{
            min-width: 394px;
            height: 394px;
            transform: rotate(-1.84deg);
            bottom: -70px;
            right: -12px;

            @include respond(tablet){
                min-width: 542px;
                height: 542px;
                bottom: -92px;
                right: -67px;
            }

            @include respond(pc){
                min-width: 519px;
                height: 519px;
                bottom: -76px;
            }
        }
    }

    &__title{
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }
    
    &__slider{
        margin: 0 -24px;

        @include respond(tablet){
            margin: 0 -40px;
        }
        
        @include respond(pc){
            margin: 0;
        }
    }
}