<div class="slider-services @@class">
    
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Amazon",
            serviceName: "amazon",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Google",
            serviceName: "google",
            text: "Brief description of the purpose",
        })
    </div>
    
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Booking",
            serviceName: "booking",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Facebook",
            serviceName: "facebook",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Instagram",
            serviceName: "instagram",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Linkedin",
            serviceName: "linkedin",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "TikTok",
            serviceName: "tiktok",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Twitter",
            serviceName: "twitter",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "YouTube",
            serviceName: "youtube",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Booking",
            serviceName: "booking",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Facebook",
            serviceName: "facebook",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Instagra",
            serviceName: "instagram",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Linkedin",
            serviceName: "linkedin",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "TikTok",
            serviceName: "tiktok",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "Twitter",
            serviceName: "twitter",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            title: "YouTube",
            serviceName: "youtube",
            text: "Brief description of the purpose",
        })
    </div>
</div>