<div class="slider-services @@class">
    
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-amazon.svg",
            title: "Amazon",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-google.svg",
            title: "Google",
            text: "Brief description of the purpose",
        })
    </div>
    
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-booking.svg",
            title: "Booking",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-facebook.svg",
            title: "Facebook",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-instagram.svg",
            title: "Instagram",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-linkedin.svg",
            title: "Linkedin",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-tiktok.svg",
            title: "TikTok",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-twitter.svg",
            title: "Twitter",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-youtube.svg",
            title: "YouTube",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-booking.svg",
            title: "Booking",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-facebook.svg",
            title: "Facebook",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-instagram.svg",
            title: "Instagram",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-linkedin.svg",
            title: "Linkedin",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-tiktok.svg",
            title: "TikTok",
            text: "Brief description of the purpose",
        })
    </div>
    <div class="slider-services__cell">
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-twitter.svg",
            title: "Twitter",
            text: "Brief description of the purpose",
        })
        @@include("../CardService/index.html", {
            class: "slider-services__slide",
            src: "/images/service-youtube.svg",
            title: "YouTube",
            text: "Brief description of the purpose",
        })
    </div>
</div>