<div class="slider slider-services @@class">
    <span class="slider__stub"></span>
    <div class="slider__inner slider-services__inner">
        <div class="slider-services__slide">
            @@include("../CardService/index.html", {
                title: "Amazon",
                serviceName: "amazon",
                text: "Brief description of the purpose",
            })
            @@include("../CardService/index.html", {
                title: "Google",
                serviceName: "google",
                text: "Brief description of the purpose",
            })
        </div>
        
        <div class="slider-services__slide">
            @@include("../CardService/index.html", {
                title: "Booking",
                serviceName: "booking",
                text: "Brief description of the purpose",
            })
            @@include("../CardService/index.html", {
                title: "Facebook",
                serviceName: "facebook",
                text: "Brief description of the purpose",
            })
        </div>
        <div class="slider-services__slide">
            @@include("../CardService/index.html", {
                title: "Instagram",
                serviceName: "instagram",
                text: "Brief description of the purpose",
            })
            @@include("../CardService/index.html", {
                title: "Linkedin",
                serviceName: "linkedin",
                text: "Brief description of the purpose",
            })
        </div>
        <div class="slider-services__slide">
            @@include("../CardService/index.html", {
                title: "TikTok",
                serviceName: "tiktok",
                text: "Brief description of the purpose",
            })
            @@include("../CardService/index.html", {
                title: "Twitter",
                serviceName: "twitter",
                text: "Brief description of the purpose",
            })
        </div>
        <div class="slider-services__slide">
            @@include("../CardService/index.html", {
                title: "YouTube",
                serviceName: "youtube",
                text: "Brief description of the purpose",
            })
            @@include("../CardService/index.html", {
                title: "Booking",
                serviceName: "booking",
                text: "Brief description of the purpose",
            })
        </div>
        <div class="slider-services__slide">
            @@include("../CardService/index.html", {
                title: "Facebook",
                serviceName: "facebook",
                text: "Brief description of the purpose",
            })
            @@include("../CardService/index.html", {
                title: "Instagra",
                serviceName: "instagram",
                text: "Brief description of the purpose",
            })
        </div>
        <div class="slider-services__slide">
            @@include("../CardService/index.html", {
                title: "Linkedin",
                serviceName: "linkedin",
                text: "Brief description of the purpose",
            })
            @@include("../CardService/index.html", {
                title: "TikTok",
                serviceName: "tiktok",
                text: "Brief description of the purpose",
            })
        </div>
        <div class="slider-services__slide">
            @@include("../CardService/index.html", {
                title: "Twitter",
                serviceName: "twitter",
                text: "Brief description of the purpose",
            })
            @@include("../CardService/index.html", {
                title: "YouTube",
                serviceName: "youtube",
                text: "Brief description of the purpose",
            })
        </div>
    </div>
    <span class="slider__stub"></span>
</div>