@use '../../../assets/scss/mixins/mediaQuery' as *;

.tariffs{

    &__subtitle{
        text-align: center;
        margin-bottom: 36px;
        
        @include respond(tablet){
            margin-bottom: 65px;
        }
    }

    &__slider{
        margin-right: -24px;

    }

    &__slider-flags{
        margin-bottom: 34px;

        @include respond(tablet){
            display: none;
        }
    }
    
    &__slider-plans{
        @include respond(tablet){
            margin: 0 auto;
        }
    }
    
    &__flag-list{
        display: none;

        
        @include respond(tablet){
            display: flex;
            margin-bottom: 65px;
        }
    }

    &__button{
        margin: 0 auto;
    }
}