@use '../../../assets/scss/mixins/mediaQuery' as *;

.tariffs{
    position: relative;
    z-index: 1;

    &__present{
        position: relative;
        overflow: hidden;
    }

    &__animate{
        position: absolute;
        transition: all .3s;

        &--top{
            display: none;
            
            @include respond(tablet){
                display: block;
                min-width: 553px;
                height: 553px;
                top: -51px;
                left: -138px;
            }

            @include respond(pc){
                min-width: 703px;
                height: 703px;
                top: -25px;
                left: -199px;
            }
        }

        &--bottom{
            min-width: 470px;
            height: 470px;
            bottom: -74px;
            right: -167px;
            
            @include respond(tablet){
                min-width: 630px;
                height: 630px;
                bottom: -119px;
                right: -198px;   
            }

            @include respond(pc){
                min-width: 757px;
                height: 757px;
                right: -254px;
                bottom: -148px;
            }
        }
    }

    &__subtitle{
        text-align: center;
        margin-bottom: 36px;
        
        @include respond(tablet){
            margin-bottom: 65px;
        }
    }

    &__slider{
        margin: 0 -24px;

    }

    &__slider-flags{
        margin-bottom: 34px;

        @include respond(tablet){
            display: none;
        }
    }
    
    &__slider-plans{
        @include respond(tablet){
            margin: 0 auto;
        }
    }
    
    &__flag-list{
        display: none;

        
        @include respond(tablet){
            display: flex;
            margin-bottom: 65px;
        }
    }

    &__button{
        margin: 0 auto;
    }
}