@use '../../../assets/scss/mixins/mediaQuery' as *;

.pagination{
    display: flex;
    width: fit-content;
    align-items: center;

    &__inner{
        display: flex;
        column-gap: 4px;
    }

    &__button{

        &--prev{
            margin-right: 18px;

            @include respond(tablet){
                margin-right: 14px;
            }
        }

        &--next{
            @include respond(tablet){
                margin-left: 14px;
            }
        }

        &--page{
            display: none;
            width: 32px;
            height: 32px;
            border-radius: 8px;

            @include respond(tablet){
                display: block;
            }
        }
    }
}