@use '../../../assets/scss/mixins/mediaQuery' as *;

.pagination{
    display: flex;
    width: fit-content;
    align-items: center;

    &__button{
        margin-right: 18px;

        @include respond(tablet){
            margin-right: 14px;
        }
    }

    &__inner{
        display: none;

        @include respond(tablet){
            display: flex;
            margin-right: 14px;
        }
    }
}