<div class="slider-deals @@class">
    @@include("../CardSale/index.html", {
        class: "slider-deals__slide",
        cardClass: "card--bg--blur card--frame--gradient",
        size: "card-sale--size--large",
        bgPc: "/images/@@bgPc_1",
        bgTb: "/images/@@bgTb_1",
        bgMb: "/images/@@bgMb_1",
        title: "@@title_1",
        text: "For bulk data parsing, SEO and monitoring",
        subtitle: "@@subtitle_1",
        colorText: "text--color--dark",
        colorTitle: "title--color--blue",
        colorSubtitle: "title--color--dark",
        colorIcon: "icon--color-stroke-blue",
    })
    @@include("../CardSale/index.html", {
        class: "slider-deals__slide",
        cardClass: "card--bg--blur card--frame--gradient",
        colorText: "text--color--dark",
        size: "card-sale--size--large",
        bgPc: "/images/@@bgPc_2",
        bgTb: "/images/@@bgTb_2",
        bgMb: "/images/@@bgMb_2",
        title: "@@title_2",
        text: "@@text_2",
        subtitle: "@@subtitle_2",
        colorTitle: "title--color--blue",
        colorSubtitle: "title--color--dark",
        colorIcon: "icon--color-stroke-blue",
    })
    @@if(typeof title_3 !== "undefined" && title_3){
        @@include("../CardSale/index.html", {
            class: "slider-deals__slide",
            cardClass: "card--bg--blur card--frame--gradient",
            colorText: "text--color--dark",
            size: "card-sale--size--large",
            bgPc: "/images/@@bgPc_3",
            bgTb: "/images/@@bgTb_3",
            bgMb: "/images/@@bgMb_3",
            title: "title_3",
            text: "text_3",
            subtitle: "subtitle_3",
            colorTitle: "title--color--blue",
            colorSubtitle: "title--color--dark",
            colorIcon: "icon--color-stroke-blue",
        })
    }
</div>