<div class="slider-deals @@class">
    @@include("../CardSale/index.html", {
        class: "slider-deals__slide",
        cardClass: "card--bg--blur card--frame--gradient",
        textColor: "text--color--dark",
        subtitleColor: "title--color--dark",
        size: "card-sale--size--large",
        bgPc: "/images/component_card-sale_deal_pc-1.png",
        bgTb: "/images/component_card-sale_deal_tb-1.png",
        bgMb: "/images/component_card-sale_deal_mb-1.png",
        title: "Unlimited datacenter proxies",
        titleColor: "title--color--blue",
        text: "For bulk data parsing, SEO and monitoring",
        subtitle: "From $0.58",
        icon: "/images/arrow.svg",
    })
    @@include("../CardSale/index.html", {
        class: "slider-deals__slide",
        cardClass: "card--bg--blur card--frame--gradient",
        textColor: "text--color--dark",
        subtitleColor: "title--color--dark",
        size: "card-sale--size--large",
        bgPc: "/images/component_card-sale_deal_pc-2.png",
        bgTb: "/images/component_card-sale_deal_tb-2.png",
        bgMb: "/images/component_card-sale_deal_mb-2.png",
        title: "Unlimited datacenter proxies",
        titleColor: "title--color--blue",
        text: "For bulk data parsing, SEO and monitoring",
        subtitle: "From $0.58",
        icon: "/images/arrow.svg",
    })
    @@include("../CardSale/index.html", {
        class: "slider-deals__slide",
        cardClass: "card--bg--blur card--frame--gradient",
        textColor: "text--color--dark",
        subtitleColor: "title--color--dark",
        size: "card-sale--size--large",
        bgPc: "/images/component_card-sale_deal_pc-3.png",
        bgTb: "/images/component_card-sale_deal_tb-3.png",
        bgMb: "/images/component_card-sale_deal_mb-3.png",
        title: "Unlimited datacenter proxies",
        titleColor: "title--color--blue",
        text: "For bulk data parsing, SEO and monitoring",
        subtitle: "From $0.58",
        icon: "/images/arrow.svg",
    })
</div>