@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-prices{
    
    @include respond(tablet){
        padding: 0;
    }

    &__spacer{
        @include respond(tablet){
            display: none;
        }
    }

    &__inner{
        gap: 20px;

        @include respond(tablet){
            overflow: visible;
            flex-wrap: wrap;
        }
    }
}