@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-prices{
    
    @include respond(tablet){
        max-width: 700px;
        padding: 0;
    }

    @include respond(pc){
        max-width: none;
    }

    &__inner{
        gap: 20px;

        @include respond(tablet){
            overflow: visible;
            flex-wrap: wrap;
        }
    }
}