<a class="card card--border-gradient card--radius-m card--bg-blur card-request @@class" href="#">
    <img class="card-request__img" src="@@src">
    <div class="card__inner">
        <h3 class="card__title card__title--color-blue card__title--fz-m">@@title</h3>
        <p class="card__text card__text--color-dark">@@text</p>
        <h3 class="card__price">@@price</h3>
        <svg class="card__icon card__icon--color-blue">
            <use xlink:href="./sprites/icons.svg#icon-arrow"></use>
        </svg>
    </div>
</a>