<div class="c-player @@class">
    <video class="c-player__video">
        <source src=""type="video/webm">
    </video>
    <picture class="c-player__poster">
        <source class="c-player__img" srcset="./images/poster_pc.jpg" media="(min-width: 1440px)">
        <source class="c-player__img" srcset="./images/poster_tb.jpg" media="(min-width: 780px)">
        <source class="c-player__img" srcset="./images/poster_mb.jpg" media="(min-width: 375px)">
        <img class="c-player__img" src="./images/poster_pc.jpg" alt="">
    </picture>
    <div class="c-player__content">
        <button class="button c-player__button">
            <img class="c-player__icon" src="./images/play.svg" alt="">
        </button>
        <h2 class="c-player__title">Create the best with Troxy</h2>
        <p class="text text--size-m text--color-light">Use our proxy packages or order a custom quantity based on your needs</p>
    </div>
    <div class="c-player__backlight"></div>
</div>