<div class="navigation @@class">
    <ul class="navigation__list">
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="tariffs.html">Tariffs</a>
        </li>
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="location.html">Countries</a>
        </li>
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="#">Information</a>
        </li>
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="proxy-mix.html">Goals</a>
        </li>
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="#">Services</a>
        </li>
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="#">API</a>
        </li>
    </ul>
</div>