<div class="navigation @@class">
    <ul class="navigation__list">
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="@@tariffs">Tariffs</a>
        </li>
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="@@countries">Countries</a>
        </li>
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="@@information">Information</a>
        </li>
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="@@goals">Goals</a>
        </li>
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="@@services">Services</a>
        </li>
        <li class="navigation__item">
            <a class="button @@colorButtonNav navigation__link" href="@@api">API</a>
        </li>
    </ul>
</div>