<div class="c-question @@class">
    <div class="c-question__top">
        <h4 class="title title--size-xs c-question__title">
            @@title
        </h4>
        <svg class="c-question__icon">
            <use xlink:href="./sprites/icons.svg#icon-chevron-down"></use>
        </svg>
    </div>
    <div class="c-question__bottom">
        <div class="c-question__content">
            <span class="c-question__border"></span>
            <p class="text c-question__text">In this list, we're counting down ten of the best proxy servers available today, exploring the features and capabilities that make them so popular.</p>
        </div>
    </div>
</div>