<div class="slider c-slider-limits @@class">
    <div class="slider__inner c-slider-limits__inner">
        <div class="slider__slide c-slider-limits__slide">
            @@include('../CardExtend/index.html', {
                class: "card-extend--special slider__slide",
                prevClass: "card--bg-blur card--border-gradient",
                bgTb: "./images/card-extend--special_limits_tb-1.png",
                bgMb: "./images/card-extend--special_limits_mb-1.png",
                title: "Proxies with traffic limits",
                text: "Efficiently manage resources, control costs and improve security when working with network traffic through proxy servers",
                price: '$0.58',
                label: "true",
                theme: 'dark',
            })
    
            @@include('../CardExtend/index.html', {
                class: "card-extend--special slider__slide",
                prevClass: "card--bg-blur card--border-gradient",
                bgTb: "./images/card-extend--special_limits_tb-2.png",
                bgMb: "./images/card-extend--special_limits_mb-2.png",
                title: "Proxies with request limits",
                text: "Ensure security, efficiency and control when working with Internet resources through proxy servers",
                price: '$0.62',
                label: "true",
                theme: 'dark',
            })
        </div>
    </div>
</div>