<div class="card card--bg-blur card--border-gradient c-filters @@class">
    <button class="button button--rounded button--size-m button--bg-light c-filters__button">@@btn_1</button>
    <button class="button button--rounded button--size-m button--color-gray button--hover-bg-gray c-filters__button">@@btn_2</button>
    <button class="button button--rounded button--size-m button--color-gray button--hover-bg-gray c-filters__button">@@btn_3</button>
    <button class="button button--rounded button--size-m button--color-gray button--hover-bg-gray c-filters__button">@@btn_4</button>
    <button class="button button--rounded button--size-m button--color-gray button--hover-bg-gray c-filters__button">@@btn_5</button>
    <button class="button button--rounded button--size-m button--color-gray button--hover-bg-gray c-filters__button">@@btn_6</button>
</div>