.card-flag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
    width: 218px;
    height: 147px;
    
    &__img{
        width: 88px;
        height: 64px;
    }


    &--front{}
    
    &--first-left{}
    &--second-left{}
    &--third-left{}

    &--first-right{}
    &--second-right{}
    &--third-right{}
}