@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-flag{
    width: 218px;
    height: 147px;
    
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 12px;
        width: 100%;
        height: 100%;
    }

    &__frame{
        width: 90px;
        height: 66px;
        border-radius: 12px;
        overflow: hidden;

        &--size-s{
            width: 64px;
            height: 47px;

            @include respond(tablet){
                width: 90px;
                height: 66px;
            }
        }
    }
    
    &__icon{
        width: inherit;
        height: inherit;
    }
    
    &--size-s{
        width: 155px;
        height: 104px;

        @include respond(tablet){
            width: 218px;
            height: 147px;
        }
    }
}