@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-flag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
    width: 218px;
    height: 147px;

    &__frame{
        width: 90px;
        height: 66px;
        border-radius: 12px;
        overflow: hidden;
    }
    
    &__icon{
        width: inherit;
        height: inherit;
    }
    
    &--small{
        width: 155px;
        height: 104px;

        @include respond(tablet){
            width: 218px;
            height: 147px;
        }
        
        .card-flag__frame{
            width: 64px;
            height: 47px;

            @include respond(tablet){
                width: 90px;
                height: 66px;
            }
        }
    }
}