.slider-home{

    &__panel{
        padding: 32px;
    }

    &__title{
        font-size: 18px;
        margin-bottom: 12px;
    }

    &__text{
        margin-bottom: 12px;
    }

    &__row{
        display: flex;
        align-items: center;
        column-gap: 6px;
    }

    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 2px solid #17263F;
    }

    &__icon{
        width: 18px;
        height: 18px;

        &--prev{
            transform: rotate(180deg);
        }
    }
}