@use '../../../assets/scss/mixins/mediaQuery' as *;

.c-authbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 4px;

    @include respond(tablet){
        gap: 6px;
    }

    &__button{
        flex-shrink: 0;
    }


    // Убоать селект
    &--select-hidden{
        .c-authbar__select{
            display: none;
        }
    }
    
    // Aдаптируемый
    &--theme-responsive{

        .c-authbar__button{
            display: none;

            @include respond(tablet){
                &--lang{
                    display: block;
                }
            }

            @include respond(pc){
                display: block;
            }
        }
    }

    //Тема страницы API
    &--theme-api{
        flex-direction: row-reverse;

        .c-authbar__button,
        .c-authbar__button{
            display: none;
        }

        @include respond(tablet){
            .c-authbar__button--lang{
                display: block;
            }
        }

        @include respond(pc){
            .c-authbar__button--signin{
                display: block;
            }
        }
    }

    // Тема мобильного меню
    &--theme-menu{

        @include respond(tablet){
            .c-authbar__select{
                display: none;
            }
        }
    }
}