<div class="c-select-protocol @@class js-select">
    <div class="c-select-protocol__row">
        <div class="c-select-protocol__selected js-select__selected">HTTPS</div>
        <svg class="c-select-protocol__icon js-select__icon">
            <use xlink:href="./sprites/icons.svg#icon-chevron-down"></use>
        </svg>
    </div>
    <ul class="c-select-protocol__options js-select__options">
        <li class="c-select-protocol__value js-select__value">HTTP</li>
        <li class="c-select-protocol__value js-select__value js-select__value--selected">HTTPS</li>
        <li class="c-select-protocol__value js-select__value">SOCKS4</li>
        <li class="c-select-protocol__value js-select__value">SOCKS5</li>
    </ul>
</div>