<div class="c-proxy-filters @@class">
    <div class="c-proxy-filters__header">
        <h3 class="c-proxy-filters__title">Filters</h3>
    </div>
    <div class="c-proxy-filters__inner">
        <div class="c-proxy-filters__group">
            <div class="c-proxy-filters__name">Status:</div>
            <div class="c-proxy-filters__row">
                <div class="c-proxy-filters__item">
                    <input id="status" type="checkbox" class="c-proxy-filters__checkbox">
                    <label for="status" class="c-proxy-filters__label">All</label>
                </div>
                <div class="c-proxy-filters__item">
                    <input id="on" type="checkbox" class="c-proxy-filters__checkbox">
                    <label for="on" class="c-proxy-filters__label">On</label>
                </div>
                <div class="c-proxy-filters__item">
                    <input id="off" type="checkbox" class="c-proxy-filters__checkbox">
                    <label for="off" class="c-proxy-filters__label">Off</label>
                </div>
            </div>
        </div>
        <div class="c-proxy-filters__group">
            <div class="c-proxy-filters__name">Procotols:</div>
            <div class="c-proxy-filters__row">
                <div class="c-proxy-filters__item">
                    <input id="https" type="checkbox" class="c-proxy-filters__checkbox">
                    <label for="https" class="c-proxy-filters__label">HTTPS</label>
                </div>
                <div class="c-proxy-filters__item">
                    <input id="http" type="checkbox" class="c-proxy-filters__checkbox">
                    <label for="http" class="c-proxy-filters__label">HTTP</label>
                </div>
                <div class="c-proxy-filters__item">
                    <input id="socks4" type="checkbox" class="c-proxy-filters__checkbox">
                    <label for="socks4" class="c-proxy-filters__label">SOCKS4</label>
                </div>
                <div class="c-proxy-filters__item">
                    <input id="socks5" type="checkbox" class="c-proxy-filters__checkbox">
                    <label for="socks5" class="c-proxy-filters__label">SOCKS5</label>
                </div>
            </div>
        </div>
        <div class="c-proxy-filters__group">
            <div class="c-proxy-filters__name">Countries:</div>
            <div class="c-proxy-filters__row">
                <div class="c-proxy-filters__item">
                    <input id="countries" type="checkbox" class="c-proxy-filters__checkbox">
                    <label for="countries" class="c-proxy-filters__label">All</label>
                </div>
                <div class="c-proxy-filters__item">
                    <input id="de" type="checkbox" class="c-proxy-filters__checkbox">
                    <label for="de" class="c-proxy-filters__label">De</label>
                </div>
            </div>
        </div>
        <div class="c-proxy-filters__group">
            <div class="c-proxy-filters__name">Max. response:</div>
            <input type="text" class="c-proxy-filters__input" placeholder="22">
        </div>
        <div class="c-proxy-filters__control">
            <button class="button button--rounded button--size-l button--fz-m button--color-light button--bg-blue button--hover-bg-blue c-proxy-filters__button">Apply</button>
            <button class="button button--rounded button--size-l button--fz-m button--border-gray button--hover-bg-gray c-proxy-filters__button">Clear</button>
        </div>
    </div>
</div>