<a class="card card--radius-m @@prevClass card-extend @@class" href="#">
    <picture class="card__background">
        @@if(typeof bgPc !== 'undefined' && bgPc){
            <source class="card__img" media="(min-width: 1440px)" srcset="@@bgPc">
        }
        <source class="card__img" media="(min-width: 780px)" srcset="@@bgTb">
        <img class="card__img" src="@@bgMb">
    </picture>
    <div class="card__inner">
        
        @@if(theme == 'dark'){
            <h3 class="card__title card__title--fz-m card__title--color-blue">@@title</h3>
            @@if(typeof text !== 'undefined' && text){
                <p class="card__text card__text--color-dark">@@text</p>
            }
            @@if(typeof label !== 'undefined' && label == 'true'){
                <div class="card__row">
                    <p class="card__label card__label--color-dark">From</p>
                    <h3 class="card__price card__price--color-dark">@@price</h3>
                </div>
            }
            @@if(typeof label == 'undefined' && typeof price !== 'undefined'){
                <h3 class="card__price card__price--color-dark">@@price</h3>
            }
            <svg class="card__icon card__icon--color-blue">
                <use xlink:href="./sprites/icons.svg#icon-arrow"></use>
            </svg>
        }

        @@if(theme == 'light'){
            <h3 class="card__title card__title--fz-m card__title--color-light">@@title</h3>
            @@if(typeof text !== 'undefined' && text){
                <p class="card__text card__text--color-light">@@text</p>
            }
            @@if(typeof label !== 'undefined' && label == 'true'){
                <div class="card__row">
                    <p class="card__label card__label--color-light">From</p>
                    <h3 class="card__price card__price--color-light">@@price</h3>
                </div>
            }
            @@if(typeof label == 'undefined' && typeof price !== 'undefined'){
                <h3 class="card__price card__price--color-light">@@price</h3>
            }
            <svg class="card__icon card__icon--color-light">
                <use xlink:href="./sprites/icons.svg#icon-arrow"></use>
            </svg>
        }
    </div>    
</a>