<div class="slider-quality">
    <div class="slider-quality__slides">
        <div class="slider-quality__cell">
            @@include('../../components/CardPlus/index.html', { 
                class: "proxyware__card",
                src: "./sprites/pluses.svg#plus_1.svg",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
            @@include('../../components/CardPlus/index.html', { 
                class: "proxyware__card",
                src: "./sprites/pluses.svg#plus_2.svg",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
        </div>
        <div class="slider-quality__cell">
            @@include('../../components/CardPlus/index.html', { 
                class: "proxyware__card",
                src: "./sprites/pluses.svg#plus_3.svg",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
            @@include('../../components/CardPlus/index.html', { 
                class: "proxyware__card",
                src: "./sprites/pluses.svg#plus_4.svg",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
        </div> 
        <div class="slider-quality__cell">
            @@include('../../components/CardPlus/index.html', { 
                class: "proxyware__card",
                src: "./sprites/pluses.svg#plus_5.svg",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
            @@include('../../components/CardPlus/index.html', { 
                class: "proxyware__card",
                src: "./sprites/pluses.svg#plus_6.svg",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
        </div>
        <div class="slider-quality__cell">
            @@include('../../components/CardPlus/index.html', { 
                class: "proxyware__card",
                src: "./sprites/pluses.svg#plus_7.svg",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
            @@include('../../components/CardPlus/index.html', { 
                class: "proxyware__card",
                src: "./sprites/pluses.svg#plus_8.svg",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
        </div>
    </div>
</div>