<div class="c-menu-wiki @@class">
    <ul class="c-menu-wiki__list">
        <li class="c-menu-wiki__item">
            <a href="" class="c-menu-wiki__link">1. Understanding HTTP Status Codes</a>
        </li>
        <li class="c-menu-wiki__item">
            <a href="" class="c-menu-wiki__link">2. What Causes 400 - Bad Request Error?</a>
        </li>
        <li class="c-menu-wiki__item">
            <a href="" class="c-menu-wiki__link">3. Consequences of 400 - Bad Request Error</a>
        </li>
        <li class="c-menu-wiki__item">
            <a href="" class="c-menu-wiki__link">4. Table: Common Causes and Solutions for 400 - Bad Request Error</a>
        </li>
        <li class="c-menu-wiki__item">
            <a href="" class="c-menu-wiki__link">5. How to Fix 400 - Bad Request Error</a>
            <ul class="c-menu-wiki__sublist">
                <li class="c-menu-wiki__item">
                    <a href="" class="c-menu-wiki__link">5.1 1. Check and Correct URLs</a>
                </li>
                <li class="c-menu-wiki__item">
                    <a href="" class="c-menu-wiki__link">5.2 2. Clear Cookies</a>
                </li>
                <li class="c-menu-wiki__item">
                    <a href="" class="c-menu-wiki__link"> 5.3 3. Reduce Header Size</a>
                </li>
                <li class="c-menu-wiki__item">
                    <a href="" class="c-menu-wiki__link">5.4.4. Flush DNS Cache</a>
                </li>
            </ul>
        </li>
        <li class="c-menu-wiki__item">
            <a href="" class="c-menu-wiki__link">6. List: Steps to Prevent 400 - Bad Request Error</a>
        </li>
    </ul>
</div>