<div class="slider slider-pluses @@class">
    <span class="slider__spacer slider-pluses__spacer"></span>
    <div class="slider__inner slider-pluses__inner">
        <div class="slider__slide slider__slide--double slider-pluses__slide">
            @@include('../../components/CardPlus/index.html', {
                icon: "./sprites/pluses.svg#icon-plus_1",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
            @@include('../../components/CardPlus/index.html', {
                icon: "./sprites/pluses.svg#icon-plus_2",
                text: "Static data center proxy servers",
            })
        </div>
        <div class="slider__slide slider__slide--double slider-pluses__slide">
            @@include('../../components/CardPlus/index.html', {
                icon: "./sprites/pluses.svg#icon-plus_3",
                text: "Instant activation",
            })
            @@include('../../components/CardPlus/index.html', {
                icon: "./sprites/pluses.svg#icon-plus_4",
                text: "Unique digital footprint",
            })
        </div> 
        <div class="slider__slide slider__slide--double slider-pluses__slide">
            @@include('../../components/CardPlus/index.html', {
                icon: "./sprites/pluses.svg#icon-plus_5",
                text: "Free exchange every 8 days",
            })
            @@include('../../components/CardPlus/index.html', {
                icon: "./sprites/pluses.svg#icon-plus_6",
                text: "High speed",
            })
        </div>
        <div class="slider__slide slider__slide--double slider-pluses__slide">
            @@include('../../components/CardPlus/index.html', {
                icon: "./sprites/pluses.svg#icon-plus_7",
                text: "Return within 24 hours",
            })
            @@include('../../components/CardPlus/index.html', {
                icon: "./sprites/pluses.svg#icon-plus_8",
                text: "Technical support 24/7",
            })
        </div>
    </div>
    <span class="slider__spacer slider-pluses__spacer"></span>
</div>