<div class="slider slider-pluses @@class">
    <div class="slider__slide slider-pluses__slide">
        @@include('../../components/CardPlus/index.html', { 
            src: "/images/plus_1.svg",
            text: "IPv4: HTTP, HTTPS,SOCKS4/5",
        })
        @@include('../../components/CardPlus/index.html', { 
            src: "/images/plus_2.svg",
            text: "IPv4: HTTP, HTTPS,SOCKS4/5",
        })
    </div>
    <div class="slider__slide slider-pluses__slide">
        @@include('../../components/CardPlus/index.html', { 
            src: "/images/plus_3.svg",
            text: "IPv4: HTTP, HTTPS,SOCKS4/5",
        })
        @@include('../../components/CardPlus/index.html', { 
            src: "/images/plus_4.svg",
            text: "IPv4: HTTP, HTTPS,SOCKS4/5",
        })
    </div> 
    <div class="slider__slide slider-pluses__slide">
        @@include('../../components/CardPlus/index.html', { 
            src: "/images/plus_5.svg",
            text: "IPv4: HTTP, HTTPS,SOCKS4/5",
        })
        @@include('../../components/CardPlus/index.html', { 
            src: "/images/plus_6.svg",
            text: "IPv4: HTTP, HTTPS,SOCKS4/5",
        })
    </div>
    <div class="slider__slide slider-pluses__slide">
        @@include('../../components/CardPlus/index.html', { 
            src: "/images/plus_7.svg",
            text: "IPv4: HTTP, HTTPS,SOCKS4/5",
        })
        @@include('../../components/CardPlus/index.html', { 
            src: "/images/plus_8.svg",
            text: "IPv4: HTTP, HTTPS,SOCKS4/5",
        })
    </div>
</div>