<div class="slider slider-pluses @@class">
    <span class="slider__stub slider-pluses__stub"></span>
    <div class="slider__inner slider-pluses__inner">
        <div class="slider-pluses__slide">
            @@include('../../components/CardPlus/index.html', {
                class: 'slider-pluses__card', 
                icon: "./sprites/pluses.svg#icon-plus_1",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
            @@include('../../components/CardPlus/index.html', {
                class: 'slider-pluses__card', 
                icon: "./sprites/pluses.svg#icon-plus_2",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
        </div>
        <div class="slider-pluses__slide">
            @@include('../../components/CardPlus/index.html', {
                class: 'slider-pluses__card', 
                icon: "./sprites/pluses.svg#icon-plus_3",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
            @@include('../../components/CardPlus/index.html', {
                class: 'slider-pluses__card', 
                icon: "./sprites/pluses.svg#icon-plus_4",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
        </div> 
        <div class="slider-pluses__slide">
            @@include('../../components/CardPlus/index.html', {
                class: 'slider-pluses__card', 
                icon: "./sprites/pluses.svg#icon-plus_5",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
            @@include('../../components/CardPlus/index.html', {
                class: 'slider-pluses__card', 
                icon: "./sprites/pluses.svg#icon-plus_6",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
        </div>
        <div class="slider-pluses__slide">
            @@include('../../components/CardPlus/index.html', {
                class: 'slider-pluses__card', 
                icon: "./sprites/pluses.svg#icon-plus_7",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
            @@include('../../components/CardPlus/index.html', {
                class: 'slider-pluses__card', 
                icon: "./sprites/pluses.svg#icon-plus_8",
                text: "IPv4: HTTP, HTTPS,SOCKS4/5",
            })
        </div>
    </div>
    <span class="slider__stub slider-pluses__stub"></span>
</div>