<div class="statistic @@class">
    <ul class="statistic__list">
        <li class="statistic__item">
            <p class="text text--color--white">99,99% uptime</p>
        </li>
        <li class="statistic__item">
            <p class="text text--color--white">&lt;0.2s avg speed</p>
        </li>
        <li class="statistic__item">
            <p class="text text--color--white">195+ locations</p>
        </li>
        <li class="statistic__item">
            <p class="text text--color--white">25 000+ clients</p>
        </li>
    </ul>
</div>