<table class="table-api @@class">
    <thead class="table-api__thead">
        <tr class="table-api__tr">
            <th class="table-api__th">Attributes</th>
            <th class="table-api__th">Type</th>
            <th class="table-api__th">Description</th>
        </tr>
    </thead>
    <tbody class="table-api__tbody">
        <tr class="table-api__tr">
            <td class="table-api__td table-api__td--weight-bold table-api__td--color-green">id</td>
            <td class="table-api__td table-api__td--weight-bold table-api__td--color-gray">string</td>
            <td class="table-api__td">Unique identifier of the payment method instance.</td>
        </tr>
        <tr class="table-api__tr">
            <td class="table-api__td table-api__td--weight-bold table-api__td--color-green">type</td>
            <td class="table-api__td table-api__td--weight-bold table-api__td--color-gray">string</td>
            <td class="table-api__td">Unique identifier of the payment type. Example values: StripeCard, </td>
        </tr>
        <tr class="table-api__tr">
            <td class="table-api__td table-api__td--weight-bold table-api__td--color-green">created_at</td>
            <td class="table-api__td table-api__td--weight-bold table-api__td--color-gray">string</td>
            <td class="table-api__td">The timestamp of when the payment method was created.</td>
        </tr>
        <tr class="table-api__tr">
            <td class="table-api__td table-api__td--weight-bold table-api__td--color-green">updated_at</td>
            <td class="table-api__td table-api__td--weight-bold table-api__td--color-gray">string</td>
            <td class="table-api__td">The timestamp of when the payment method was last updated.</td>
        </tr>
    </tbody>
</table>