@use '../../../assets/scss/mixins/mediaQuery' as *;

.personal{
    overflow: hidden;

    &__present{
        position: relative;
    }

    &__animate{
        position: absolute;
        transition: all .3s;

        &--top{
            display: none;

            @include respond(tablet){
                display: block;
                min-width: 516px;
                height: 516px;
                top: -16px;
                left: -68px;
            }

            @include respond(pc){
                min-width: 504px;
                height: 504px;
                top: 68px;
                left: -77px;
            }
        }

        &--bottom{
            min-width: 424px;
            height: 424px;
            bottom: -62px;
            right: -97px;
            position: absolute;
        
            @include respond(tablet){
                min-width: 554px;
                height: 554px;
                bottom: -93px;
                right: -104px;
            }

            @include respond(pc){
                right: -99px;
                bottom: -71px;
            }
        }
    }

    &__subtitle{
        text-align: center;
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }
    
    &__slider-udp{
        margin: 0 -24px;
    
        @include respond(tablet){
            margin: 0 -40px;
        }
    }
}