@use '../../../assets/scss/mixins/mediaQuery' as *;

.personal{

    &__present{
        position: relative;
        overflow: hidden;
    }

    &__animate{
        position: absolute;
        transition: all .3s;

        &--top{
            display: none;

            @include respond(tablet){
                display: block;
                min-width: 516px;
                height: 516px;
                top: -16px;
                left: -68px;
            }

            @include respond(pc){
                min-width: 504px;
                height: 504px;
                top: 68px;
                left: -77px;
            }
        }

        &--bottom{
            min-width: 424px;
            height: 424px;
            bottom: -62px;
            right: -97px;
            position: absolute;
        
            @include respond(tablet){
                min-width: 554px;
                height: 554px;
                bottom: -93px;
                right: -104px;
            }

            @include respond(pc){
                right: -99px;
                bottom: -71px;
            }
        }
    }

    &__subtitle{
        text-align: center;
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }
    
    &__slider{
        margin: 0 -24px;
    
        @include respond(tablet){
            margin: 0 -40px;
        }
        
        @include respond(pc){
            overflow: visible;
            margin: 0;
            row-gap: 20px;
            flex-wrap: wrap;
        }
    }

    &__stub{
        @include respond(pc){
           display: none;
        }
    }

    &__inner{
        column-gap: 19px;
    }
    
    &__slide{
        display: flex;
        column-gap: 19px;

        @include respond(tablet){
            flex-direction: column;
            column-gap: normal;
            row-gap: 19px;
        }
    }

    &__card{
        width: 300px;
        height: 463px;

        @include respond(tablet){
            width: 400px;
            height: 400px;
        }
    }
}