<div class="marquee @@class">
    <div class="marquee__slider">
        @@include('../CardFlag/index.html', {
            class: "marquee__card",
            iconName: "ru",
            title: "Russia"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card",
            iconName: "us",
            title: "USA"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card",
            iconName: "ch",
            title: "China"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card",
            iconName: "ua",
            title: "Ukraine"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card marquee__card--first marquee__card--first-left",
            iconName: "au",
            title: "Australia"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card marquee__card--second marquee__card--second-left",
            iconName: "in",
            title: "India"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card marquee__card--third marquee__card--third-left",
            iconName: "de",
            title: "Germany"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card marquee__card--center",
            iconName: "tr",
            title: "Turkey"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card marquee__card--third marquee__card--third-right",
            iconName: "pk",
            title: "Pakistan"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card marquee__card--second marquee__card--second-right",
            iconName: "nl",
            title: "Netherlands"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card marquee__card--first marquee__card--first-right",
            iconName: "uk",
            title: "UK"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card",
            iconName: "pl",
            title: "Poland"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card",
            iconName: "fr",
            title: "France"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card",
            iconName: "br",
            title: "Brazil"
        })
        @@include('../CardFlag/index.html', {
            class: "marquee__card",
            iconName: "es",
            title: "Spain"
        })
    </div>
</div>