<div class="slider c-keyboard @@class">
    <div class="slider__inner c-keyboard__inner">
        <button class="button button--fz-l button--bg-light c-keyboard__button">#</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">0-9</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">A</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">B</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">C</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">D</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">E</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">F</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">G</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">H</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">I</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">J</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">K</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">L</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">M</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">N</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">O</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">P</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">Q</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">R</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">S</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">T</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">U</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">V</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">W</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">X</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">Y</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">Z</button>
        <button class="button button--fz-l button--bg-light c-keyboard__button">*</button>
    </div>
</div>