<header class="header @@class">
    <div class="container">
        <div class="header__inner">
            @@include('../Logo/index.html', { 
                class: "header__logo",
                theme: "@@themeLogo" 
            })

            @@if(typeof navigation === 'undefined' || navigation !== 'off') {
                @@include('../Navigation/index.html', { 
                    class: "header__navigation",
                    colorButtonNav: "@@colorButtonNav",
                    tariffs: "@@tariffs",
                    countries: "@@countries",
                    information: "@@information",
                    goals: "@@goals",
                    services: "@@services",
                    api: "@@api"
                })
            }

            <div class="header__row">
                @@if(typeof search !== 'undefined' && search === 'on'){
                    @@include('../Input/index.html', {
                        class: "field--theme-gray header__search",
                    })
                }
                
                @@include('../Authbar/index.html', { 
                    class: "authbar--theme--default header__authbar",
                    theme: "authbar--responsive @@themeAuthbar"  
                })
            </div>
        </div>
    </div>
</header>