<div class="card card--radius-m card--border-gradient card--bg-blur c-panel @@class">
    <div class="card__inner c-panel__inner">
        <h3 class="title title--size-s c-panel__title">A handy guide to working with the API</h3>
        <p class="text text--size-m c-panel__text">A few lines of text description about the service function. A few lines of text description about the service function.</p>
        <div class="c-panel__row">
            <button class="c-panel__button c-panel__button--prev">
                <svg class="c-panel__icon c-panel__icon--prev">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </button>
            <button class="c-panel__button c-panel__button--next">
                <svg class="c-panel__icon c-panel__icon--next">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </button>
        </div>
    </div>
</div>