<div class="slider slider-udp @@class">
    <div class="slider__spacer slider-udp__spacer"></div>
    <div class="slider__inner slider-udp__inner">
        <div class="slider__slide slider__slide--double slider-udp__slide">
            @@include('../../components/CardExtend/index.html', {
                class: "card-extend--udp",
                prevClass: "card--bg-blur card--border-gradient",
                bgTb: "./images/card-extend--udp_tb-1.png",
                bgMb: "./images/card-extend--udp_mb-1.png",
                title: "UDP 1 IP",
                blur: "true",
                price: '$5/month',
                theme: 'dark',
            })
    
            @@include('../../components/CardExtend/index.html', {
                class: "card-extend--udp",
                prevClass: "card--bg-blur card--border-gradient",
                bgTb: "./images/card-extend--udp_tb-2.png",
                bgMb: "./images/card-extend--udp_mb-2.png",
                title: "UDP MIX 5 IP",
                blur: "true",
                price: '$5/month',
                theme: 'dark',
            })
        </div>
        <div class="slider__slide slider__slide--double slider-udp__slide">
            @@include('../../components/CardExtend/index.html', {
                class: "card-extend--udp",
                prevClass: "card--bg-blur card--border-gradient",
                bgTb: "./images/card-extend--udp_tb-3.png",
                bgMb: "./images/card-extend--udp_mb-3.png",
                title: "UDP MIX 10 IP",
                blur: "true",
                price: '$5/month',
                theme: 'dark',
            })
    
            @@include('../../components/CardExtend/index.html', {
                class: "card-extend--udp",
                prevClass: "card--bg-blur card--border-gradient",
                bgTb: "./images/card-extend--udp_tb-4.png",
                bgMb: "./images/card-extend--udp_mb-4.png",
                title: "UDP MIX 25 IP",
                blur: "true",
                price: '$5/month',
                theme: 'dark',
            })
        </div>
        <div class="slider__slide slider__slide--double slider-udp__slide">
            @@include('../../components/CardExtend/index.html', {
                class: "card-extend--udp",
                prevClass: "card--bg-blur card--border-gradient",
                bgTb: "./images/card-extend--udp_tb-5.png",
                bgMb: "./images/card-extend--udp_mb-5.png",
                title: "UDP MIX 50 IP",
                blur: "true",
                price: '$0.58',
                theme: 'dark',
            })
    
            @@include('../../components/CardExtend/index.html', {
                class: "card-extend--udp",
                prevClass: "card--bg-blur card--border-gradient",
                bgTb: "./images/card-extend--udp_tb-6.png",
                bgMb: "./images/card-extend--udp_mb-6.png",
                title: "UDP MIX 100 IP",
                blur: "true",
                price: '$0.58',
                theme: 'dark',
            })
        </div>
    </div>
    <div class="slider__spacer slider-udp__spacer"></div>
</div>