<div class="c-banner-wiki">
    <img class="c-banner-wiki__background" src="./images/page_wiki-inside_aside_banner.jpg">
    <div class="c-banner-wiki__column">
        <h3 class="title title--color-light title--size-s c-banner-wiki__title">Test our proxies to ensure their quality</h3>
        <p class="text text--size-m text--color-light c-banner-wiki__text">Go to the convenient configurator and buy proxies in a few clicks</p>
        <button class="button button--size-l button--bg-blue button--rounded button--color-light c-banner-wiki__button">Test free</button>
    </div>
</div>