@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-plans{
    max-width: 700px;

    @include respond(tablet){
        overflow: visible;
    }

    &__inner{
        column-gap: 19px;

        @include respond(tablet){
            row-gap: 19px;
            flex-wrap: wrap;
        }
    }

    @include respond(tablet){
        margin: 0 auto;
    }

    @include respond(pc){
        max-width: none;
    }

    @include respond(tablet){
        flex-wrap: wrap;
        row-gap: 20px;
    }

    &__slide{
        flex-shrink: 0;
    }
}