@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-plans{
    display: flex;
    column-gap: 20px;
    overflow: hidden;

    @include respond(tablet){
        flex-wrap: wrap;
        row-gap: 20px;
    }

    &__slide{
        flex-shrink: 0;
    }
}