@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-plans{
    display: flex;
    column-gap: 20px;
    overflow: hidden;
    max-width: 700px;

    @include respond(tablet){
        margin: 0 auto;
    }

    @include respond(pc){
        max-width: none;
    }

    @include respond(tablet){
        flex-wrap: wrap;
        row-gap: 20px;
    }

    &__slide{
        flex-shrink: 0;
    }
}