@use "../../../assets/scss/mixins/mediaQuery" as *;

.slider-deals{

    &__stub{
        @include respond(pc){
            display: none;
        }
    }

    &__inner{
        column-gap: 19px;

        @include respond(pc){
            flex-wrap: wrap;
            row-gap: 20px;
        }
    }
}