@use '../../../assets/scss/mixins/mediaQuery' as *;

.c-slider-features{

    @include respond(pc){
        overflow: visible;
    }

    &__inner{
        gap: 20px;

        @include respond(pc){
            flex-wrap: wrap;
        }
    }

    &__slide{
        gap: 20px;
    }
}