@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-location{
    overflow: hidden;

    &__intro{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 50px);
    }

    &__present{
        position: relative;
        height: 100%;
        z-index: 1;
    }

    &__animate{
        position: absolute;
        transition: all .3s;

        &--top{
            display: none;
            
            @include respond(tablet){
                display: block;
                min-width: 607px;
                height: 607px;
                top: -18px;
                left: -217px;
            }
            
            @include respond(pc){
                min-width: 830px;
                height: 830px;
                top: -127px;
                left: -354px;
            }
        }

        &--bottom{
            min-width: 408px;
            height: 408px;
            bottom: -44px;
            right: -127px;
            
            @include respond(tablet){
                min-width: 590px;
                height: 590px;
                bottom: -68px;
                right: -164px;
            }
            
            @include respond(pc){
                min-width: 753px;
                height: 753px;
                bottom: -147px;
                right: -268px;
            }
        }
    }

    &__subtitle{
        text-align: center;
        margin-bottom: 36px;

        @include respond(tablet) {
            margin-bottom: 65px;
        }
    }
    
    &__filters{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 28px;

        @include respond(tablet) {
            margin-bottom: 43px;
        }
    }

    &__flag-list{
        margin: 0 auto;
    }
}