@use '../../../assets/scss/mixins/mediaQuery' as *;

// checker
.checker{

    &__header{
        margin-bottom: 40px;

        @include respond(tablet){
            margin-bottom: 80px;
        }
    }

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }
    
    &__title{
        font-size: 32px;
        margin-bottom: 30px;
    
        @include respond(tablet){
            font-size: 52px;
            margin-bottom: 28px;
        }
        
    }
    
    &__text{
        margin-bottom: 43px;
    }

    &__container{
        margin-bottom: 29px;

        @include respond(tablet){
            margin-bottom: 38px;
        }
    }

    &__proxy-checker{
        margin-bottom: 18px;

        @include respond(tablet){
            margin-bottom: 32px;
        }
    }


    &__row{
        @include respond(pc){
            display: flex;
            gap: 20px;
        }
    }
    
    &__proxy-filters{
        display: none;
        
        @include respond(pc){
            flex-shrink: 0;
            display: flex;
        }
    }

    &__proxy-list{
        flex-shrink: 0;
        flex-grow: 1;
    }

    &__proxy-list,
    &__proxy-filters{
        flex-shrink: 0;
    }
}