@use '../../../assets/scss/mixins/mediaQuery' as *;

// checker
.checker{

    &__container{
        margin-bottom: 29px;

        @include respond(tablet){
            margin-bottom: 38px;
        }
    }

    &__proxy-checker{
        margin-bottom: 18px;
    }


    &__row{
        @include respond(pc){
            display: flex;
            gap: 20px;
        }
    }
    
    &__proxy-filters{
        display: none;
        
        @include respond(pc){
            flex-shrink: 0;
            display: flex;
        }
    }

    &__proxy-list{
        flex-shrink: 0;
        flex-grow: 1;
    }

    &__proxy-list,
    &__proxy-filters{
        flex-shrink: 0;
    }
}