@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-benefit{
    width: 100%;
    max-width: 713px;
    padding: 37px 32px;

    @include respond(tablet){
        padding: 26px 30px 34px 30px;
    }
    
    @include respond(pc){
        padding: 24px 40px 36px 40px;
    }
}