<div class="c-navigation-api @@class">
    <div class="c-navigation-api__row">
        <svg class="icon c-navigation-api__icon c-navigation-api__icon--left">
            <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
        </svg>
        <a href="" class="button button--hover-font-gray text text--size-m">Introduction</a>
    </div>
    <div class="c-navigation-api__row">
        <a href="" class="button button--hover-font-gray text text--size-m">Registration and login</a>
        <svg class="icon c-navigation-api__icon c-navigation-api__icon--right">
            <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
        </svg>
    </div>
</div>