@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-mix{
    width: 240px;
    height: 420px;
    padding: 20px;

    @include respond(tablet){
        width: 320px;
        height: 463px;
        padding: 26px;
    }

    @include respond(pc){
        width: 400px;
        height: 400px;
        padding: 32px;
    }

    &__img{
        position: absolute;
        object-fit: contain;
        top: 0;
        right: 0;
        width: 288px;
    }
}