<div class="c-list-toc @@class">

    @@include('../c-Toc/index.html', {
        class: "c-list-toc__item",
        title: "0-9",
        link_1: "400 - Bad Request",
        link_2: "504 - Gateway timeout",
        link_3: "404 - Not found",
    })

    @@include('../c-Toc/index.html', {
        class: "c-list-toc__item",
        title: "A",
        link_1: "Antivirus Next Generation (NGAV)",
        link_2: "Analysis Mood",
        link_3: "Aokenization in Natural Language Processing",
    })

    @@include('../c-Toc/index.html', {
        class: "c-list-toc__item",
        title: "B",
        link_1: "Bad Enterprise Data Hub",
        link_2: "Build model Incremental",
        link_3: "Be Information search",
    })

    @@include('../c-Toc/index.html', {
        class: "c-list-toc__item",
        title: "C",
        link_1: "400 - Bad Request",
        link_2: "504 - Gateway timeout",
        link_3: "404 - Not found",
    })

    @@include('../c-Toc/index.html', {
        class: "c-list-toc__item",
        title: "D",
        link_1: "Antivirus Next Generation (NGAV)",
        link_2: "Analysis Mood",
        link_3: "Aokenization in Natural Language Processing",
    })

    @@include('../c-Toc/index.html', {
        class: "c-list-toc__item",
        title: "E",
        link_1: "Bad Enterprise Data Hub",
        link_2: "Build model Incremental",
        link_3: "Be Information search",
    })

    @@include('../c-Toc/index.html', {
        class: "c-list-toc__item",
        title: "F",
        link_1: "400 - Bad Request",
        link_2: "504 - Gateway timeout",
        link_3: "404 - Not found",
    })

    @@include('../c-Toc/index.html', {
        class: "c-list-toc__item",
        title: "G",
        link_1: "Antivirus Next Generation (NGAV)",
        link_2: "Analysis Mood",
        link_3: "Aokenization in Natural Language Processing",
    })

    @@include('../c-Toc/index.html', {
        class: "c-list-toc__item",
        title: "H",
        link_1: "Bad Enterprise Data Hub",
        link_2: "Build model Incremental",
        link_3: "Be Information search",
    })

</div>