<div class="c-menu-mobile @@class" data-lenis-prevent>
    @@include('../c-Promo/index.html', {
        class: "c-menu-mobile__promo",
    })
    <div class="container c-menu-mobile__container">
        <div class="c-menu-mobile__inner">
            <div class="c-menu-mobile__header">
                @@include('../c-Logo/index.html', {
                    theme: 'light',
                })
                <div class="c-menu-mobile__row">
                    @@include("../c-SelectLang/index.html", {
                        class: 'c-select-lang--show-down c-menu-mobile__select',
                        theme: 'light',
                    })
                    <button class="button c-menu-mobile__close">
                        <svg class="c-menu-mobile__icon">
                            <use xlink:href="./sprites/icons.svg#icon-close"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <ul class="c-menu-mobile__list">
                <li class="c-menu-mobile__item">
                    <a href="" class="button button--hover-font-blue title title--color-light title--size-l c-menu-mobile__link">Tariffs</a>
                </li>
                <li class="c-menu-mobile__item">
                    <a href="" class="button button--hover-font-blue title title--color-light title--size-l c-menu-mobile__link">Countries</a>
                </li>
                <li class="c-menu-mobile__item">
                    <a href="" class="button button--hover-font-blue title title--color-light title--size-l c-menu-mobile__link">Information</a>
                </li>
                <li class="c-menu-mobile__item">
                    <a href="" class="button button--hover-font-blue title title--color-light title--size-l c-menu-mobile__link">Goals</a>
                </li>
                <li class="c-menu-mobile__item">
                    <a href="" class="button button--hover-font-blue title title--color-light title--size-l c-menu-mobile__link">Services</a>
                </li>
                <li class="c-menu-mobile__item">
                    <a href="" class="button button--hover-font-blue title title--color-light title--size-l c-menu-mobile__link">API</a>
                </li>
            </ul>
            @@include('../c-Authbar/index.html', {
                class: "c-authbar--theme-menu c-menu-mobile__authbar",
                theme: "menu",
            })
        </div>
    </div>
    <div class="c-menu-mobile__footer">
        <p class="c-menu-mobile__text">© 2024 Troxy, All Rights Reserved</p>
    </div>
</div>