<div class="c-select-lang__select">
    <div class="c-select-lang__selected c-select-lang__selected--color-light">ENG</div>
    <ul class="c-select-lang__options c-select-lang__options--bg-light">
        <li class="c-select-lang__value c-select-lang__value--color-blue c-select-lang--selected">ENG</li>
        <li class="c-select-lang__value c-select-lang__value--color-blue">DE</li>
        <li class="c-select-lang__value c-select-lang__value--color-blue">ISP</li>
        <li class="c-select-lang__value c-select-lang__value--color-blue">JP</li>
        <li class="c-select-lang__value c-select-lang__value--color-blue">RUS</li>
    </ul>
</div>