<div class="card card--frame--gradient card--radius--medium card--bg--blur card-vacancies @@class">
    <div class="card-vacancies__description">
        <h3 class="title--color--blue card-vacancies__title">@@title</h3>
        <p class="text">@@description</p>
    </div>
    <div class="card-vacancies__row">
        <p class="text vacancies__location"><span class="text--weight-bold">Location:</span>@@location</p>
        <img class="card-vacancies__icon" src="/images/arrow.svg" alt="">
    </div>
    <div class="card-vacancies__content">
        <div class="card-vacancies__group">
            <h4 class="card-vacancies__subtitle">@@subtitle_1</h4>
            <ul class="card-vacancies__list">
                <li class="card-vacancies__item">
                    <p class="text">@@item_1_1</p>
                </li>
                <li class="card-vacancies__item">
                    <p class="text">@@item_1_2</p>
                </li>
                <li class="card-vacancies__item">
                    <p class="text">@@item_1_3</p>
                </li>
                <li class="card-vacancies__item">
                    <p class="text">@@item_1_4</p>
                </li>
            </ul>
        </div>
        <div class="card-vacancies__group">
            <h4 class="card-vacancies__subtitle">@@subtitle_2</h4>
            <ul class="card-vacancies__list">
                <li class="card-vacancies__item">
                    <p class="text">@@item_2_1</p>
                </li>
                <li class="card-vacancies__item">
                    <p class="text">@@item_2_2</p>
                </li>
                <li class="card-vacancies__item">
                    <p class="text">@@item_2_3</p>
                </li>
                <li class="card-vacancies__item">
                    <p class="text">@@item_2_4</p>
                </li>
                <li class="card-vacancies__item">
                    <p class="text">@@item_2_5</p>
                </li>
                <li class="card-vacancies__item">
                    <p class="text">@@item_2_6</p>
                </li>
            </ul>
        </div>
        <div class="card-vacancies__group">
            <h4 class="card-vacancies__subtitle">@@subtitle_3</h4>
            <p class="text">@@textContent</p>
        </div>
        <button class="button button--rounded button--bg--blue button--color--white">@@button</button>
    </div>
</div>