<div class="question @@class">
    <div class="question__top">
        <h4 class="title title--size-xs question__title">
            @@title
        </h4>
        <svg class="icon icon--color-stroke-dark question__icon">
            <use xlink:href="./sprites/icons.svg#icon-chevron-down"></use>
        </svg>
    </div>
    <div class="question__bottom">
        <div class="question__content">
            <span class="question__border"></span>
            <p class="text question__text">In this list, we're counting down ten of the best proxy servers available today, exploring the features and capabilities that make them so popular.</p>
        </div>
    </div>
</div>