.gradient{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(50px);
    z-index: -1;
    
    
    &__canvas {
        display: block;
        width:100%;
        height:100%;
        --gradient-color-1: #ffffff; 
        --gradient-color-2: #ffffff; 
        --gradient-color-3: #D6E5FF;  
        --gradient-color-4: #ffffff;
        z-index:0;
        position:absolute;
        top:0;
        left:0;
    }
}