@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-advantages{

    @include respond(pc){
        padding: 0;
    } 

    &__inner{
        gap: 14px;

        @include respond(pc){
            gap: 20px;
        } 
    }
}