@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-advantages{

    &__stub{
        @include respond(pc){
            display: none;
        } 
    }
    
    &__inner{
        margin: 0 auto;

    }

    @include respond(pc){
        justify-content: space-between; 
    }

    &__slide{
        flex-shrink: 0;

        &:not(:last-child){
            margin-right: 14px;

            @include respond(tablet){
                margin-right: 20px;
            }
        }
    }
}