@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-advantages{

    &__spacer{
        @include respond(pc){
            display: none;
        } 
    }
    
    &__inner{
        gap: 14px;

        @include respond(pc){
            gap: 20px;
        } 
    }
}