@use '../../../assets/scss/mixins/mediaQuery' as *;

.c-card-vacancies{
    padding: 32px 32px 36px 32px;
    transition: background-color .3s;

    @include respond(tablet){
        padding: 40px;
    }

    &--active{
        background-color: #fff;
    }

    &__top{
        cursor: pointer;
    }

    &__description{
        max-width: 888px;
        margin-bottom: 18px;

        @include respond(tablet){
            margin-bottom: 26px;
        }
    }

    &__title{
        margin-bottom: 18px;

        @include respond(tablet){
            margin-bottom: 26px;
        }
    }

    &__row{
        display: flex;
        flex-direction: column;

        @include respond(tablet){
            flex-direction: row;
        }
    }

    &__icon{
        margin-left: auto;
        width: 26px;
        height: 26px;
        stroke: #2E7AF5;
        transition: transform .3s;

        &--active{
            transform: rotate(-90deg);
        }
    }

    &__bottom{
        transition: max-height 0.5s ease, padding 0.3s ease;
        overflow: hidden;
    }

    &__content{
        border-top: 1px solid #CED3DC;
        padding-top: 42px;
        margin-top: 32px;
    }

    &__line{
        height: 1px;
        background-color: #CED3DC;
        display: block;
        width: 100%;
        margin-bottom: 42px;
    }

    &__group{
        margin-bottom: 32px;
    }

    &__subtitle{
        margin-bottom: 16px;
        
        @include respond(tablet){
            margin-bottom: 24px;
        }
    }

    &__list{
        list-style-type: disc;
        padding-left: 24px;
    }

}