<div class="slider c-slider-prices @@class">
    <div class="slider__inner c-slider-prices__inner">
        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--price slider__slide",
            bgPc: "./images/card-extend--price_pc-1.jpg",
            bgTb: "./images/card-extend--price_tb-1.jpg",
            bgMb: "./images/card-extend--price_mb-1.jpg",
            title: "Mix proxy",
            text: "World mixes, Europe, America, Asia and other variations",
            price: '$0.58',
            label: "true",
            theme: 'light',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--price slider__slide",
            bgPc: "./images/card-extend--price_pc-2.jpg",
            bgTb: "./images/card-extend--price_tb-2.jpg",
            bgMb: "./images/card-extend--price_mb-2.jpg",
            title: "Proxies by country",
            text: "Over 195 locations worldwide for your purposes",
            price: '$0.62',
            label: "true",
            theme: 'light',
        })

        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--price slider__slide",
            bgPc: "./images/card-extend--price_pc-3.jpg",
            bgTb: "./images/card-extend--price_tb-3.jpg",
            bgMb: "./images/card-extend--price_mb-3.jpg",
            title: "Rotating proxies",
            text: "Unlimited Rotating Proxies for Anonymous WEB Surfing",
            price: '$0.59',
            label: "true",
            theme: 'light',
        })
        
        @@include('../../components/c-CardExtend/index.html', {
            class: "c-card-extend--price slider__slide",
            bgPc: "./images/card-extend--price_pc-4.jpg",
            bgTb: "./images/card-extend--price_tb-4.jpg",
            bgMb: "./images/card-extend--price_mb-4.jpg",
            title: "Personal proxies",
            text: "Performance, speed and reliability",
            price: '$0.61',
            label: "true",
            theme: 'light',
        })
    </div>
</div>