<div class="c-list-programs @@class">
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "Don't be misled",
        text: "Promote our services accurately and honestly",
    })
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "Work without spam",
        text: "Comply with anti-spam laws and respect opt-out requests",
    })
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "No incentive registrations",
        text: "Promote our services accurately and honestly",
    })
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "Clear disclosure of information",
        text: "Be transparent about your partnerships",
    })
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "Don't be misled",
        text: "Use only authorized incentives for registration",
    })
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "Respect for intellectual property",
        text: "Avoid violating any intellectual property rights",
    })
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "Work legally",
        text: "Do not engage in or promote illegal activities",
    })
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "Compliance with the rules",
        text: "Follow third party platform guidelines",
    })
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "One Account Policy",
        text: "Creating multiple accounts for self-transition is prohibited",
    })
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "Responsible Marketing",
        text: "Please ensure that promotions do not harm our brand or violate any laws.",
    })
    @@include("../CardAffiliate/index.html", {
        class: "c-list-programs__card",
        title: "Regular updates",
        text: "Stay informed and update promotions as needed",
    })
</div>