@use '../../../assets/scss/mixins/mediaQuery' as *;

.solutions{
    &__slider{
        display: flex;
        column-gap: 10px;
        overflow: hidden;
        margin-right: -24px;
        margin-bottom: 36px;

        @include respond(tablet) {
            justify-content: center;
            column-gap: 0;
            margin-left: 0;
            margin-bottom: 0;
        }
    }

    &__slide{
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        transition: all .3s;

        @include respond(tablet){
            &:not(:first-child){
                margin-left: -160px;
            }
        }

        @include respond(pc){
            &:not(:first-child){
                margin-left: -120px;
            }
        }
    }

    &__button{
        margin: 0 auto;

        @include respond(tablet){
            display: none;
        }
    }
}