<div class="card card--radius--medium @@cardClass card-sale @@size @@class">
    <picture class="card__background">
        <source class="card__img card-sale__img" media="(min-width: 1440px)" srcset="@@bgPc">
        <source class="card__img card-sale__img" media="(min-width: 780px)" srcset="@@bgTb">
        <img class="card__img card-sale__img" src="@@bgMb">
    </picture>
    <div class="card__inner">
        <h3 class="title @@colorTitle card-sale__title">@@title</h3>
        <p class="text @@colorText card-sale__text">@@text</p>
        @@if(typeof subtitle !== 'undefined' && subtitle){
            <div class="card-sale__row">
                <p class="text text--color--dark card-sale__label @@colorLabel">From </p>
                <h3 class="title @@colorSubtitle card-sale__subtitle"> @@subtitle</h3>
            </div>
        }
        <svg class="icon @@colorIcon card-sale__icon">
            <use xlink:href="./sprites/icons.svg#icon-arrow"></use>
        </svg>
    </div>    
</div>