<a class="card card--border-gradient card--radius-m card--bg-blur card-mix @@class" href="#">
    <img class="card-mix__img" src="@@src">
    <div class="card__inner">
        <h3 class="card__title card__title--color-blue card__title--fz-m">@@title</h3>
        <p class="card__text card__text--color-dark">@@text</p>
        <div class="card__row">
            <p class="card__label">From</p>
            <h3 class="card__price">@@subtitle</h3>
        </div>
        <svg class="card__icon card__icon--color-blue">
            <use xlink:href="./sprites/icons.svg#icon-arrow"></use>
        </svg>
    </div>
</a>