.body{
    position: relative;
    background-color: #F8F8F8;
    font-family: 'Funnel Display';
    color: #313844;

    &__header{
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    &__menu-mobile{
        position: fixed;
        width: 100%;
        right: -100%;
        z-index: 100;
        transition: all .5s;

        &--active{
            right: 0;
        }
    }
}