html{
    overflow-x: hidden;
}

.body{
    position: relative;
    background-color: #F8F8F8;
    font-family: 'Funnel Display';
    color: #313844;
    overflow: hidden;

    &--blocking{
        overflow: hidden;
    }

    &__menu-mobile{
        position: absolute;
        width: 100%;
        top: 0;
        right: -100%;
        z-index: 10;
        transition: all .5s;

        &--active{
            right: 0;
        }
    }
}