@use '../mixins/mediaQuery' as *;

.button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;

    &--fz-m{
        font-size: 14px;

        @include respond(tablet){
            font-size: 16px;
        }
    }

    &--fz-l{
        font-size: 16px;
    }

    &--size-s{
        padding: 9px 18px;
    }

    &--size-m{
        min-height: 50px;
        padding: 0 32px;
    }

    &--size-l{
        min-height: 42px;
        padding: 0 32px;
        
        @include respond(tablet){
            min-height: 54px;
            padding: 0 34px;
        }
    }

    &--color-light{
        color: #fff;
    }

    &--color-gray{
        color: #617597;
    }

    &--color-blue{
        color: #2E7AF5;
    }

    &--transparent{
        opacity: 0.5;
    }

    &--rounded{
        border-radius: 40px;
    }

    &--bg-transparent{
        background-color: rgba(255, 255, 255, 0.8);
    }

    &--bg-blue{
        background: linear-gradient(90deg, #2E7AF5 0%, #67A1FF 100%);
    }

    &--bg-light{
        background-color: #fff;
    }

    &--border-gray{
        border: 1px solid #CED3DC;
    }

    
    &--hover-font-blue{
        &:hover{
            color: #95BEFF;
            fill: #95BEFF;
            stroke: #95BEFF;
        }
    }
    
    &--hover-font-gray{
        &:hover{
            color: #617597;
            fill: #617597;
            stroke: #617597;
        }
    }

    &--hover-bg-blue{
        position: relative;
        z-index: 0;
        
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: #66A0FF;
            opacity: 0;
            transition: opacity 0.4s ease;
            z-index: -1;
        }
        
        &:hover{
            border: none;

            &::before{
                opacity: 1;
            }
        }
    }

    &--hover-bg-bright-blue{
        &:hover{
            background-color: #ECF1FF;
        }
    }

    &--hover-bg-gray{
        &:hover{
            background-color: #F7F7F7;
        }
    }

    &--hover-bg-transparent{
        &:hover{
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &--inactive{
        background: #D2E3FF;
    }
}