.icon{
    display: block;
    fill: #17263F;

    &--size{

        &-small{
            width: 24px;
            height: 24px;
        }

        &-large{
            width: 64px;
            height: 64px;
        }
    }
}