.icon{
    display: block;
    width: fit-content;
    fill: #17263F;
    stroke: #17263F;
    
    &--color-blue{
        fill: #2E7AF5;
    }
    
    &--color-stroke-blue{
        stroke: #2E7AF5;
    }
    
    &--color-stroke-dark-blue{
        stroke: #0F54C4;
    }
    
    &--color-stroke-white{
        stroke: #fff;
    }

    &--color-stroke-dark{
        stroke: #17263F;
    }

    &--color-white{
        fill: #fff;
    }

    &--color-gray{
        fill: #617597;
    }
}