@use '../mixins/mediaQuery' as *;

.slider{
    display: flex;
    overflow: hidden;
    column-gap: 10px;

    @include respond(tablet){
        column-gap: 19px;
    }
    
    &__slide{
        flex-shrink: 0;

        &--column{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            
            @include respond(tablet){
                row-gap: 12px;
            }
            
            @include respond(tablet){
                row-gap: 22px;
            }
        }
    }
}