@use '../mixins/mediaQuery' as *;

.slider{
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
    
    &__stub{
        flex-shrink: 0;
        width: 24px;

        @include respond(tablet){
            width: 40px;
        }
    }

    &__inner{
        display: flex;
    }
    
    &__slide{
        flex-shrink: 0;

        &:not(:last-of-type){
            margin-right: 10px;

            @include respond(tablet){
                margin-right: 19px;
            }
        }
    }
}