@use '../mixins/mediaQuery' as *;

.slider{
    display: flex;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    overflow-x: auto;

    &::before,
    &::after{
        content: '';
        min-width: 24px;
        height: 100%;
        
        @include respond(tablet){
            min-width: 40px;
        }
    }


    @include respond(pc){
        padding: 0;
    }

    &::-webkit-scrollbar{
        display: none;
    }
    
    &__inner{
        display: flex;
    }
    
    &__slide{
        flex-shrink: 0;

        &--double{
            display: flex;
            flex-direction: column;
        }
    }
}