@use '../../../assets/scss/mixins/mediaQuery' as *;

.title{

    &--size-xs{
        line-height: normal;
        font-weight: 600;
        font-size: 16px;

        @include respond(tablet){
            font-size: 19px;
        }
    }

    &--size-s{
        line-height: normal;
        font-weight: 600;
        font-size: 18px;

        @include respond(tablet){
            font-size: 23px;
        }
    }

    &--size-m{
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    
        @include respond(tablet){
            font-size: 32px;
            line-height: 40px;
        }
    }

    &--size-l{
        font-size: 32px;
        font-weight: 500;
        line-height: 35px;

        @include respond(tablet){
            font-size: 52px;
            line-height: 64px;
        }
    }

    &--color-dark{
        color: #313844;
    }

    &--color-blue{
        color: #2E7AF5;
    }

    &--color-light{
        color: #fff;
    }

    &--pos-center{
        text-align: center;
    }
}