@use '../../../assets/scss/mixins/mediaQuery' as *;

.slider-pluses{

    @include respond(tablet){
        padding: 0;
    }
    
    &__inner{
        gap: 10px;

        @include respond(tablet){
            flex-wrap: wrap;
            justify-content: center;
            gap: 12px;
        }

        @include respond(pc){
            column-gap: 18px;
            row-gap: 22px;
        }
    }

    &__slide{
        gap: 10px;

        @include respond(tablet){
            flex-direction: row;
            gap: 19px;
        }
    }
}