@use "../../../assets/scss/mixins/mediaQuery" as *;

.p-news-page{
    padding-top: 130px;

    @include respond(tablet){
        padding-top: 170px;
    }

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__title{
        margin-bottom: 36px;
        
        @include respond(tablet){
            margin-bottom: 65px;
        }
    }
    
    &__list{
        margin: 0 auto;
        margin-bottom: 25px;

        @include respond(tablet){
            margin-bottom: 54px;
        }

        @include respond(pc){
            margin-bottom: 65px;
        }
    }

    &__pagination{
        margin: 0 auto;
    }
}