<div class="c-features @@class">
    @@include('../c-CardService/index.html', {
        class: "c-features__card",
        prevClass: 'card--border-gradient',
        iconName: "google",
        title: "Google",
        text: "Brief description of the purpose",
    })
    
    @@include('../c-CardService/index.html', {
        class: "c-features__card",
        prevClass: 'card--border-gradient',
        iconName: "ebay",
        title: "Amazon",
        text: "Brief description of the purpose",
    })

    @@include('../c-CardService/index.html', {
        class: "c-features__card",
        prevClass: 'card--border-gradient',
        iconName: "amazon",
        title: "Instagram",
        text: "Brief description of the purpose",
    })

    @@include('../c-CardService/index.html', {
        class: "c-features__card",
        prevClass: 'card--border-gradient',
        iconName: "booking",
        title: "Facebook",
        text: "Brief description of the purpose",
    })

    @@include('../c-CardService/index.html', {
        class: "c-features__card",
        prevClass: 'card--border-gradient',
        iconName: "facebook",
        title: "YouTube",
        text: "Brief description of the purpose",
    })

    @@include('../c-CardService/index.html', {
        class: "c-features__card",
        prevClass: 'card--border-gradient',
        iconName: "instagram",
        title: "Twitter",
        text: "Brief description of the purpose",
    })

    @@include('../c-CardService/index.html', {
        class: "c-features__card",
        prevClass: 'card--border-gradient',
        iconName: "linkedin",
        title: "Linkedin",
        text: "Brief description of the purpose",
    })

    @@include('../c-CardService/index.html', {
        class: "c-features__card",
        prevClass: "card--border-blue",
        title: "All features",
        classTitle: "card__title--color-blue",
        arrow: "true",
    })
</div>