@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-script-inside{
    padding-top: 130px;

    @include respond(tablet){
        padding-top: 170px;
    }

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__title{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__date{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 31px;
        }

        @include respond(pc){
            margin-bottom: 41px;
        }
    }

    &__text{
        &:not(:last-child){
            margin-bottom: 14px;
            
            @include respond(tablet){
                margin-bottom: 18px;
            }
        }
    }

    &__group {

        &:not(:last-child){
            margin-bottom: 42px;
            
            @include respond(tablet){
                margin-bottom: 28px;
            }        
        }

    }

    &__img{
        object-fit: cover;
    }
}