@use '../../../assets/scss/mixins/mediaQuery' as *;

.script-inside{

    &__breadcrumbs{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__title{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 21px;
        }
    }

    &__date{
        margin-bottom: 14px;

        @include respond(tablet){
            margin-bottom: 31px;
        }
    }

    &__text{
        &:not(:last-child){
            margin-bottom: 14px;
            
            @include respond(tablet){
                margin-bottom: 18px;
            }
        }
    }

    &__group {
        margin-bottom: 42px;

        @include respond(tablet){
            margin-bottom: 28px;
        }        
    }

    &__img{
        object-fit: cover;
    }
}