<div class="swiper c-slider-home @@class">
    <div class="swiper-wrapper c-slider-home__inner">
        <picture class="swiper-slide c-slider-home__slide">
            <source class="c-slider-home__img" media="(min-width: 1440px)" srcset="./images/slider__home_pc.jpg">
            <source class="c-slider-home__img" media="(min-width: 780px)" srcset="./images/slider__home_tb.jpg">
            <img class="c-slider-home__img" src="./images/slider__home_mb.jpg">
        </picture>
        <picture class="swiper-slide c-slider-home__slide">
            <source class="c-slider-home__img" media="(min-width: 1440px)" srcset="./images/slider__home_pc.jpg">
            <source class="c-slider-home__img" media="(min-width: 780px)" srcset="./images/slider__home_tb.jpg">
            <img class="c-slider-home__img" src="./images/slider__home_mb.jpg">
        </picture>
        <picture class="swiper-slide c-slider-home__slide">
            <source class="c-slider-home__img" media="(min-width: 1440px)" srcset="./images/slider__home_pc.jpg">
            <source class="c-slider-home__img" media="(min-width: 780px)" srcset="./images/slider__home_tb.jpg">
            <img class="c-slider-home__img" src="./images/slider__home_mb.jpg">
        </picture>
        <picture class="swiper-slide c-slider-home__slide">
            <source class="c-slider-home__img" media="(min-width: 1440px)" srcset="./images/slider__home_pc.jpg">
            <source class="c-slider-home__img" media="(min-width: 780px)" srcset="./images/slider__home_tb.jpg">
            <img class="c-slider-home__img" src="./images/slider__home_mb.jpg">
        </picture>
    </div>
</div>
