<div class="c-slider-home @@class">
    @@include('../c-Panel/index.html', {
        class: "c-slider-home__panel",
    })
    <div class="c-slider-home__carousel">
        <div class="c-slider-home__slide">
            <img src="./images/slider-home.jpg" alt="" class="c-slider-home__img">
        </div>
        <div class="c-slider-home__slide">
            <img src="./images/slider-home.jpg" alt="" class="c-slider-home__img">
        </div>
        <div class="c-slider-home__slide">
            <img src="./images/slider-home.jpg" alt="" class="c-slider-home__img">
        </div>
        <div class="c-slider-home__slide">
            <img src="./images/slider-home.jpg" alt="" class="c-slider-home__img">
        </div>
    </div>
</div>
