.c-logo{
    display: flex;
    align-items: center;
    justify-content: center;

    &__signature{
        fill: #fff;

        &--color-dark{
            fill: #17263F;
        }
    }

    &__fingerprint{
        fill: #fff;

        &--color-blue{
            fill: #2E7AF5;
        }
    }
}