@use "../../../assets/scss/mixins/mediaQuery" as *;

.p-proxy-limit{
    overflow: hidden;

    &__intro{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 50px);
    }

    &__present{
        position: relative;
        height: 100%;
        z-index: 1;
    }

    &__animate{
        position: absolute;
        transition: all .3s;

        &--top{
            display: none;

            @include respond(tablet){
                display: block;
                min-width: 554px;
                height: 554px;
                top: -35px;
                left: -164px;
            }
    
            @include respond(pc){
                display: block;
                min-width: 656px;
                height: 656px;
                top: 53px;
                left: -219px;
            }
        }

        &--bottom{
            min-width: 435px;
            height: 435px;
            bottom: -115px;
            right: -86px;

            @include respond(tablet){
                min-width: 656px;
                height: 656px;
                bottom: -213px;
                right: -178px;
            }
    
            @include respond(pc){
                bottom: -165px;
                right: -192px;
            }
        }
    }

    &__title{
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;    
        }
    }

    &__slider{
        margin: 0 -24px;

        @include respond(tablet){
            margin: 0 -40px;
        }

        @include respond(pc){
            margin: 0;
        }
    }
}