<div class="slider-home @@class">
    <div class="card card--bg--blur card--radius--medium slider-home__panel">
        <h3 class="slider-home__title">A handy guide to working with the API</h3>
        <p class="text slider-home__text">A few lines of text description about the service function. A few lines of text description about the service function.</p>
        <div class="slider-home__row">
            <button class="slider-home__button slider-home__button--prev">
                <svg class="icon slider-home__icon slider-home__icon--prev">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </button>
            <button class="slider-home__button slider-home__button--next">
                <svg class="icon slider-home__icon slider-home__icon--next">
                    <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="slider-home__carousel">
        <div class="slider-home__slide">
            <img src="./images/slider-home.jpg" alt="" class="slider-home__img">
        </div>
        <div class="slider-home__slide">
            <img src="./images/slider-home.jpg" alt="" class="slider-home__img">
        </div>
        <div class="slider-home__slide">
            <img src="./images/slider-home.jpg" alt="" class="slider-home__img">
        </div>
        <div class="slider-home__slide">
            <img src="./images/slider-home.jpg" alt="" class="slider-home__img">
        </div>
    </div>
</div>
