<div class="slider c-slider-advantages @@class">
    <div class="slider__inner c-slider-advantages__inner">
        @@include('../../components/c-CardExtend/index.html', {
            class: 'c-card-extend--free slider__slide',
            bgPc: "./images/card-extend--free_pc-1.jpg",
            bgTb: "./images/card-extend--free_tb.jpg",
            bgMb: "./images/card-extend--free_mb.jpg",
            title: "Free proxy",
            text: "Use free data center proxies and evaluate the quality of work",
            theme: 'light',
        })
        @@include('../../components/c-CardExtend/index.html', {
            class: 'c-card-extend--free slider__slide',
            bgPc: "./images/card-extend--free_pc-2.jpg",
            bgTb: "./images/card-extend--free_tb.jpg",
            bgMb: "./images/card-extend--free_mb.jpg",
            title: "Proxy checker",
            text: "Check availability, supported protocols, proxy country and response time",
            theme: 'light',
        })
        @@include('../../components/c-CardExtend/index.html', {
            class: 'c-card-extend--free slider__slide',
            bgPc: "./images/card-extend--free_pc-3.jpg",
            bgTb: "./images/card-extend--free_tb.jpg",
            bgMb: "./images/card-extend--free_mb.jpg",
            title: "Show my IP",
            text: "Find out your current IP address and other information",
            theme: 'light',
        })
    </div>
</div>