@use '../../../assets/scss/mixins/mediaQuery' as *;

.header{
    display: flex;
    align-items: center;
    height: 90px;

    &--bg-white{
        background-color: #fff;
    }
    
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__logo{
        display: flex;
        flex-shrink: 0;
        @include respond(pc){
            margin-right: 80px;
        }
    }

    &__navigation{
        display: none;
        @include respond(pc){
            display: block;
            margin-right: auto;
        }
    }

    &__row{
        display: flex;
        align-items: center;
    }
    
    &__item{
        &:not(:last-child){
            margin-right: 36px;
        }
    }

    &__search{
        display: none;
        width: 358px;

        @include respond(tablet){
            display: block;
        }
    }

    &__button{
        display: flex;
        align-items: center;
        margin-left: 39px;

        @include respond(pc){
            display: none;
        }
    }

    &__icon{
        width: 28px;
        height: 28px;
        stroke: #17263F;
    }

    &--bg--white{
        background-color: #fff;
    }
    
}