@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-sale{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 240px;
    height: 360px;
    padding: 26px 20px 26px 20px;

    @include respond(tablet){
        width: 340px;
        height: 463px;
    }

    @include respond(pc){
        width: 610px;
        height: 337px;
    }

    &__title,
    &__text{
        margin-bottom: 12px;

        @include respond(tablet){
            margin-bottom: 19px;
        }
    }


    &__icon{
        margin-left: auto;
    }
}