@use '../../../assets/scss/mixins/mediaQuery' as *;

.card-special{
    width: 240px;
    height: 360px;
    padding: 20px;

    @include respond(tablet){
        width: 340px;
        height: 463px;
        padding: 30px;
    }

    @include respond(pc){
        width: 610px;
        height: 337px;
    }
}