@use '../../../assets/scss/mixins/mediaQuery' as *;

.list-services{
    min-width: 700px;
    max-width: 700px;

    @include respond(1140px){
        max-width: 1060px;
    }

    @include respond(pc){
        max-width: 1240px;
    }

    &__inner{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}