.c-url{
    display: flex;
    align-items: center;
    min-height: 52px;
    background-color: #ECF1FF;
    border-radius: 12px;
    overflow: auto;
    padding: 0 16px;

    &::-webkit-scrollbar{
        display: none;
    }

    &__address{
        white-space: nowrap;
        font-size: 12px;

        &--color-red{
            color: #D32F2F;
        }
    }
}