<div class="flag-list @@class">
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "ru",
        title: "Russia"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "us",
        title: "USA"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "ch",
        title: "China"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "au",
        title: "Australia"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "in",
        title: "India"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "de",
        title: "Germany"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "tr",
        title: "Turkey"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "pk",
        title: "Pakistan"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "nl",
        title: "Netherlands"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "uk",
        title: "UK"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "ua",
        title: "Ukraine"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "pl",
        title: "Poland"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "fr",
        title: "France"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "br",
        title: "Brazil"
    })
    @@include('../CardFlag/index.html', {
        class: "flag-list__card @@classCard",
        iconName: "es",
        title: "Spain"
    })
</div>