@use '../../../assets/scss/mixins/mediaQuery' as *;

.p-purposes-inside{
    overflow: hidden;
    
    &__header{
        margin-bottom: 90px;
    }

    &__intro{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    &__present{
        position: relative;
        height: 100%;
        z-index: 1;
    }

    &__animate{
        position: absolute;
        transition: all .3s;

        &--top{
            display: none;

            @include respond(tablet){
                display: block;
                min-width: 500px;
                height: 500px;
                top: -155px;
                left: -120px;
            }

            @include respond(pc){
                min-width: 629px;
                height: 629px;
                top: -135px;
                left: -227px;
            }
        }

        &--bottom{
            min-width: 391px;
            height: 391px;
            bottom: -81px;
            right: 0;
            
            @include respond(tablet){
                min-width: 595px;
                height: 595px;
                bottom: -117px;
                right: -150px;
            }
            
            
            @include respond(pc){
                min-width: 617px;
                height: 617px;
                bottom: -128px;
                right: -63px;
            }
        }
    }

    &__title{
        margin-bottom: 36px;

        @include respond(tablet){
            margin-bottom: 65px;
        }
    }
    
    &__slider{
        margin: 0 -24px;

        @include respond(tablet){
            margin: 0 -40px;
        }
        
        @include respond(pc){
            margin: 0;
        }
    }
}