<div class="navigation-api @@class">
    <div class="navigation-api__row">
        <svg class="icon navigation-api__icon navigation-api__icon--left">
            <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
        </svg>
        <a href="" class="navigation-api__link">Introduction</a>
    </div>
    <div class="navigation-api__row">
        <a href="" class="navigation-api__link">Registration and login</a>
        <svg class="icon navigation-api__icon navigation-api__icon--right">
            <use xlink:href="./sprites/icons.svg#icon-chevron-right"></use>
        </svg>
    </div>
</div>