<div class="c-proxy-list @@class">
    <div class="c-proxy-list__header">
        <h3 class="c-proxy-list__title">Proxy list</h3>
        <div class="c-proxy-list__count">
            <div class="c-proxy-list__checked">Checked 2 out of 2</div>
            <div class="c-proxy-list__available">Available 1 out of 2</div>
        </div>
        <div class="c-proxy-list__row">
            @@include("../c-SelectFilters/index.html", {
                class: "c-proxy-list__select",
            })
            <button class="button c-proxy-list__button">
                <svg class="icon c-proxy-list__icon">
                    <use xlink:href="./sprites/icons.svg#icon-download"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="c-proxy-list__inner">
        <div class="c-proxy-list__notification c-proxy-list__notification--hidden">The list is empty</div>
        <table class="c-proxy-list__table">
            <thead class="c-proxy-list__thead">
                <tr class="c-proxy-list__tr">
                    <th class="c-proxy-list__th">Adress</th>
                    <th class="c-proxy-list__th">Port</th>
                    <th class="c-proxy-list__th">User</th>
                    <th class="c-proxy-list__th">Password</th>
                    <th class="c-proxy-list__th">Type</th>
                    <th class="c-proxy-list__th">Location</th>
                    <th class="c-proxy-list__th">Status</th>
                </tr>
            </thead>
            <tbody class="c-proxy-list__tbody">
                <tr class="c-proxy-list__tr">
                    <td class="c-proxy-list__td">46.4.96.137</td>
                    <td class="c-proxy-list__td">1080</td>
                    <td class="c-proxy-list__td"></td>
                    <td class="c-proxy-list__td"></td>
                    <td class="c-proxy-list__td">HTTPS</td>
                    <td class="c-proxy-list__td">Germany</td>
                    <td class="c-proxy-list__td c-proxy-list__td--color-green">Online</td>
                </tr>
                <tr class="c-proxy-list__tr">
                    <td class="c-proxy-list__td">52.4.96.237</td>
                    <td class="c-proxy-list__td">8080</td>
                    <td class="c-proxy-list__td"></td>
                    <td class="c-proxy-list__td"></td>
                    <td class="c-proxy-list__td">HTTPS</td>
                    <td class="c-proxy-list__td">Russia</td>
                    <td class="c-proxy-list__td c-proxy-list__td--color-red">Not working</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>